{% extends 'be/base.html' %}
{% load cstmTag %}<!-- From settings templatetags -->
{% load static %}
{% block meta %}
<title>List Events - {{webSettingsUniversal.title}}</title>
<meta name="description" content="{{webSettingsUniversal.meta_description}}"/>
<meta name="keywords" content="{{webSettingsUniversal.meta_keywords}}"/>
<meta property="og:title" content="List Events - {{webSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{webSettingsUniversal.title}} - {{webSettingsUniversal.slogan}}"/>
{% endblock %}
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <div class="app-content flex-column-fluid mt-10">
        <div class="app-container container-xxl">
            {% include 'be/includes/alert.html' %}
            <div class="card">
                <div class="card-header border-0 pt-6">
                    {% if allEvents %}
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546"
                                          height="2" rx="1"
                                          transform="rotate(45 17.0365 15.1223)"
                                          fill="currentColor"/>
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                          fill="currentColor"/>
                                </svg>
                            </span>
                            <form action="{% url 'eventList' %}" method="post" class="form"
                                  enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <input type="text" name="eventSearch"
                                       class="form-control form-control-solid w-250px ps-14"
                                       placeholder="Search Events"/>
                            </form>
                            {% if request.POST.eventSearch %}
                            <a href="{% url 'eventList' %}"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               data-bs-custom-class="custom-tooltip"
                               data-bs-title="Clear Search">
                                <span class="svg-icon svg-icon-1 ms-6 text-danger">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                                    </svg>
                                </span>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-toolbar">
                        {% if user.is_superuser%}
                        <div class="d-flex justify-content-end mx-3" data-kt-user-table-toolbar="base">
                            <form action="{% url 'eventList' %}" method="post" class="form" enctype="multipart/form-data" novalidate id="filterForm">
                                {% csrf_token %}
                                <div class="form-floating">
                                    <select class="form-select form-select-solid" id="filterSelect" name="filterSelect" aria-label="Filter select">
                                        <option value="all" {% if not filter_value or filter_value == 'all' %}selected{% endif %}>All Events</option>
                                        <option value="virtual" {% if filter_value == 'virtual' %}selected{% endif %}>Virtual Event</option>
                                        <option value="physical" {% if filter_value == 'physical' %}selected{% endif %}>Physical Event</option>
                                    </select>
                                    <label for="filterSelect">Filter Event List</label>
                                </div>
                            </form>
                        </div>
                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                            <a href="{% url 'eventAdd' %}" class="btn btn-primary">
                                <span class="svg-icon svg-icon-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="11.364" y="20.364" width="16"
                                              height="2" rx="1"
                                              transform="rotate(-90 11.364 20.364)"
                                              fill="currentColor"/>
                                        <rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                              fill="currentColor"/>
                                    </svg>
                                </span>
                                Add Event
                            </a>
                        </div>
                        {% else %}
                            {% if not has_active_membership %}
                            <div class="d-flex justify-content-end mx-5" data-kt-user-table-toolbar="base">
                                <div class="me-2">
                                    <picture>
                                        <source srcset="{% static 'be/media/emoji/sad.webp' %}" type="image/webp">
                                        <img src="{% static 'be/media/emoji/sad.gif' %}" alt="Sad Emoji" width="45"
                                             height="45">
                                    </picture>
                                </div>
                                <a href="{% url 'membership-renewal' %}"
                                   class="btn btn-outline btn-outline-danger btn-active-light-danger">
                                    Renew Membership
                                </a>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="card-body py-4">
                    {% if allEvents %}
                    <div class="table-responsive">
                        <table class="table align-middle table-row-dashed fs-6 gy-5 dataTable no-footer">
                            <thead>
                            <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                                <th class="text-center w-20px pe-2">#</th>
                                <th class="text-center min-w-125px">Category</th>
                                <th class="text-center min-w-75px">Title</th>
                                <th class="text-center min-w-75px">Trainer</th>
                                <th class="text-center min-w-75px">Status</th>
                                <th class="text-center min-w-105px">Created</th>
                                {% if has_active_membership or user.is_superuser %}
                                <th class="text-center text-end min-w-100px">Actions</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody class="text-gray-600 fw-semibold">
                            {% for event in allEvents %}
                            <tr>
                                <td class="text-center">{{forloop.counter}}</td>
                                <td class="d-flex align-items-center">
                                    {% if user.is_superuser %}
                                    <div class="symbol symbol-50px overflow-hidden me-3">
                                        <div class="symbol-label">
                                            <img src="{% if event.author.profile_pic.image %}{{event.author.profile_pic.image.url}}{% else %}{{ webSettingsUniversal.default_user.url }}{% endif %}"
                                                 alt="{{ event.author.full_name }}"
                                                 class="w-100 rounded border border-{% if event.has_active_membership %}success{% elif event.author.is_superuser %}primary{% else %}danger{% endif %} border-2"
                                                 data-bs-toggle="tooltip" data-bs-placement="left"
                                                 data-bs-custom-class="custom-tooltip"
                                                 data-bs-title="{% if event.has_active_membership %}Membership Active{% elif event.author.is_superuser %}Super User{% else %}Membership Expired{% endif%}"
                                            />
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="overflow-hidden me-3 w-80px">
                                        {% for tImg in event.eventImage.all %}
                                            <img src="{{tImg.image.url}}" alt="{{event.title}}"
                                                 class="w-100 rounded border border-secondary border-2"
                                            />
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <div class="d-flex flex-column">
                                        <a class="text-gray-800 text-hover-primary mb-1">{{event.category}}</a>
                                        <span class="text-{% if event.type == 'Physical Event' %}info{% else %}primary{% endif %}">{{event.type}} {% if event.type == 'Physical Event' %}- {{event.eventaddress_set.first.country}}{% endif %}</span>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="fw-bold">
                                        {{event.title}}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="fw-bold">
                                        {% for contact in event.eventcontact_set.all %}
                                        {{ contact.trainer }}
                                        {% endfor %}
                                    </div>
                                    {% if event.author.address.country %}
                                    <div class="badge badge-light-info fw-bold">
                                        {{event.author.address.country}}
                                    </div>
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="fw-bold">
                                        {% if event.status == 'Published' %}
                                        <span class="svg-icon svg-icon-3" data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="Published">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-unlock-fill text-success fs-2x fw-bold"
                                                 viewBox="0 0 16 16">
                                                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                                            </svg>
                                        </span>
                                        {% elif event.status == 'Draft' %}
                                        <span class="svg-icon svg-icon-3" data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="Draft">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-unlock-fill text-secondary fs-2x fw-bold"
                                                 viewBox="0 0 16 16">
                                                <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
                                            </svg>
                                        </span>
                                        {% else %}
                                        <span class="svg-icon svg-icon-3" data-bs-toggle="tooltip"
                                              data-bs-placement="top"
                                              title="Blocked">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 class="bi bi-lock-fill text-danger fs-2x fw-bold" viewBox="0 0 16 16">
                                                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"/>
                                            </svg>
                                        </span>
                                        {% endif %}
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="badge badge-primary fw-bold">{{event.created_date}}</div>
                                </td>
                                {% if has_active_membership or user.is_superuser %}
                                <td class="text-end">
                                    <a href="{% url 'eventEdit' event.pk %}"
                                       class="btn btn-icon btn-active-light-warning w-30px h-30px me-3"
                                       data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click"
                                       title="Edit">
                                        <span class="svg-icon svg-icon-3">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
                                                      fill="currentColor"></path>
                                                <path opacity="0.3"
                                                      d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
                                                      fill="currentColor"></path>
                                            </svg>
                                        </span>
                                    </a>
                                    <a href="{% url 'eventDelete' event.pk %}"
                                       class="btn btn-icon btn-active-light-danger w-30px h-30px me-3"
                                       data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start"
                                       data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-dismiss-="click"
                                       title="Delete">
                                        <span class="svg-icon svg-icon-3">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                 fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                                            </svg>
                                        </span>
                                    </a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <form method="get" class="mb-5">
                        <select name="items" onchange="this.form.submit()" class="form-select form-select-sm w-100px">
                            <option value="10" {% if items_per_page == 10 %}selected{% endif %}>10</option>
                            <option value="20" {% if items_per_page == 20 %}selected{% endif %}>20</option>
                            <option value="50" {% if items_per_page == 50 %}selected{% endif %}>50</option>
                            <option value="100" {% if items_per_page == 100 %}selected{% endif %}>100</option>
                        </select>
                    </form>
                    {% else %}
                    <div class="alert alert-dismissible bg-light-danger d-flex flex-center flex-column py-10 px-10 px-lg-20 mb-10">
                        <!--begin::Close-->
                        <button type="button" class="position-absolute top-0 end-0 m-2 btn btn-icon btn-icon-danger"
                                data-bs-dismiss="alert">
                            <i class="ki-duotone ki-cross fs-1"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </button>
                        <!--begin::Icon-->
                        <i class="ki-duotone ki-information-5 fs-5tx text-danger mb-5"><span class="path1"></span><span
                                class="path2"></span><span class="path3"></span></i>
                        <!--begin::Wrapper-->
                        <div class="text-center">
                            <!--begin::Title-->
                            <h1 class="fw-bold mb-5 text-danger">No events to show</h1>
                            <!--begin::Separator-->
                            <div class="separator separator-dashed border-danger opacity-25 mb-5"></div>
                            <!--begin::Buttons-->
                            {% if has_active_membership or user.is_superuser %}
                            <div class="d-flex flex-center flex-wrap">
                                <a href="{% url 'eventAdd' %}" class="btn btn-primary">
                                        <span class="svg-icon svg-icon-2">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <rect opacity="0.5" x="11.364" y="20.364" width="16"
                                                      height="2" rx="1"
                                                      transform="rotate(-90 11.364 20.364)"
                                                      fill="currentColor"/>
                                                <rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                                      fill="currentColor"/>
                                            </svg>
                                        </span>
                                    Add Event
                                </a>
                            </div>
                            {% else %}
                            <!-- Content for users without active subscription -->
                            <div class="mt-9 text-gray-900">
                                <picture>
                                    <source srcset="{% static 'be/media/emoji/sad.webp' %}" type="image/webp">
                                    <img src="{% static 'be/media/emoji/sad.gif' %}" alt="Sad Emoji" width="45"
                                         height="45">
                                </picture>
                                <div class="text-danger pt-3">
                                    <strong>You do not have an active membership.</strong>
                                </div>
                            </div>
                            <a href="{% url 'membership-renewal' %}" class="btn btn-danger">Renew Membership</a>
                            {% endif %}

                            <!--begin::Content-->
                        </div>
                    </div>
                    {% endif %}

                    {% if allEvents.has_other_pages %}
                    <ul class="pagination my-5 float-right">
                        {% if allEvents.has_previous %}
                        <li class="page-item active previous"><a
                                href="{% custom_url allEvents.previous_page_number 'page' request.get.urlencode %}"
                                class="page-link"><i class="previous"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
                        {% endif %}

                        {% for i in allEvents.paginator.page_range %}
                        {% if allEvents.number == i %}
                        <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
                        {% elif i > allEvents.number|add:'-8' and i < allEvents.number|add:'8' %}
                        <li class="page-item"><a class="page-link"
                                                 href="{% custom_url i 'page' request.GET.urlencode %}">{{i}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if allEvents.has_next %}
                        <li class="page-item active next"><a class="page-link"
                                                             href="{% custom_url allEvents.next_page_number 'page' request.get.urlencode %}"><i
                                class="next"></i></a></li>
                        {% else %}
                        <li class="page-item next disabled"><a class="page-link"><i class="fas fa-angle-right"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static 'be/plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script src="{% static 'be/js/custom/apps/user-management/users/list/table.js' %}"></script>
<script src="{% static 'be/js/widgets.bundle.js' %}"></script>
<script src="{% static 'be/js/custom/utilities/modals/users-search.js' %}"></script>
<script>
    // Submit the form when dropdown value changes
    document.getElementById('filterSelect').addEventListener('change', function() {
        document.getElementById('filterForm').submit();
    });
</script>
<!--end::Javascript-->
{% endblock %}