{% extends 'be/base.html' %}
{% load static %}
{% block meta %}
<title>Add News - {{webSettingsUniversal.title}}</title>
<meta charset="utf-8"/>
<meta name="description" content="{{frontendSettingsUniversal.metaDescription}}"/>
<meta name="keywords" content="{{frontendSettingsUniversal.metaKeyword}}"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="Add News - {{frontendSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{userAccount.full_name}} - {{frontendSettingsUniversal.title}}"/>
{% endblock %}
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <div class="app-content flex-column-fluid mt-10">
        <div class="app-container container-xxl">
            {% include 'be/includes/alert.html' %}
            <div class="card">
                <div class="card-header ribbon ribbon-end ribbon-clip">
                    <div class="ribbon-label">
                        Create
                        <span class="ribbon-inner bg-primary"></span>
                    </div>
                    <div class="card-title fw-bold m-0">Add News</div>
                </div>
                <div class="card-body pt-0">
                    <div class="card mb-5 mb-xl-10">
                        <div class="collapse show">
                            <form id="newsForm" action="{% url 'newsAdd' %}" method="post" class="form" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="card-body border-top p-9">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-floating mb-7 {% if nForm.title.errors %}has-error{% endif %}">
                                                {{ nForm.title }}
                                                <label class="required">Title</label>
                                                {% for error in nForm.title.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-7 {% if nForm.description.errors %}has-error{% endif %}">
                                                <label class="required">Description</label>
                                                {{ nForm.description }}
                                                {{ nForm.media }}
                                                {% for error in nForm.description.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <!-- Image input field -->
                                            <div id="imageInput" class="mb-7 {% if nForm.image.errors %}has-error{% endif %}">
                                                <label class="required">Upload Image</label><br>
                                                {{ nForm.image }}
                                                {% for error in nForm.title.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <img id="imagePreview" style="max-width: 100%; display: none;">
                                        </div>
                                    </div>
                                    <!-- Non Field Errors -->
                                    {% for error in nForm.non_field_errors %}
                                    <div class="text-danger mt-2">
                                        {{ error|escape }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="h4 px-5">Miscellaneous Details</div>
                                <div class="card-body border-top">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if nForm.location.errors %}has-error{% endif %}">
                                                {{ nForm.location }}
                                                <label class="required">Location</label>
                                                {% for error in nForm.location.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if nForm.status.errors %}has-error{% endif %}">
                                                {{ nForm.status }}
                                                <label class="required">Status</label>
                                                {% for error in nForm.status.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Non Field Errors -->
                                    {% for error in tcForm.non_field_errors %}
                                    <div class="text-danger mt-2">
                                        {{ error|escape }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="h4 px-5">SEO Details <small>(Optional)</small></div>
                                <div class="card-body border-top p-9 datepicker">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if nForm.meta_title.errors %}has-error{% endif %} ">
                                                {{ nForm.meta_title }}
                                                <label class="fw-semibold fs-6 mb-2">Meta Title</label>
                                                {% for error in nForm.meta_title.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if nForm.meta_description.errors %}has-error{% endif %} ">
                                                {{ nForm.meta_description }}
                                                <label class="fw-semibold fs-6 mb-2">Meta Description</label>
                                                {% for error in nForm.meta_description.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Non Field Errors -->
                                    {% for error in nForm.non_field_errors %}
                                    <div class="text-danger mt-2">
                                        {{ error|escape }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="card-footer d-flex justify-content-end py-6 px-9">
                                    <a href="{% url 'newsList' %}" class="btn btn-light-info me-3">Discard</a>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<!--begin::Custom Javascript(used for this page only)-->
<script src="{% static 'be/js/jquery-3.3.1.min.js' %}"></script>
<!-- To Generate date rows based on category selection -->
<script>
$(document).ready(function() {
    $('#maxlength_mt').maxlength({
        warningClass: "badge badge-warning",
        limitReachedClass: "badge badge-success"
    });
    $('#maxlength_md').maxlength({
        warningClass: "badge badge-warning",
        limitReachedClass: "badge badge-success"
    });
});
document.addEventListener('DOMContentLoaded', function() {
    var image = document.getElementById('imagePreview');
    var input = document.getElementById('imageInput');
    var form = document.getElementById('newsForm'); // Ensure this matches your form's ID
    var cropper;

    input.addEventListener('change', function(e) {
        var files = e.target.files;
        var done = function(url) {
            input.value = '';
            image.src = url;
            if (cropper) {
                cropper.destroy();
            }
            cropper = new Cropper(image, {
                aspectRatio: 1.25,
                viewMode: 1,
            });
        };

        if (files && files.length > 0) {
            var reader = new FileReader();
            reader.onload = function(e) {
                done(reader.result);
            };
            reader.readAsDataURL(files[0]);
        }
    });

    form.addEventListener('submit', function(e) {
        e.preventDefault();

        // Validate required fields here
        let isValid = true;

        // Example for a single required field validation - extend this as needed
        if (!document.getElementById('yourRequiredFieldId').value) {
            isValid = false;
            alert('Please fill out all required fields.'); // Enhance this with more user-friendly error messages
        }

        // If form is valid and an image has been selected and cropped
        if (isValid && cropper) {
            cropper.getCroppedCanvas().toBlob(function(blob) {
                var formData = new FormData(form);
                var timestamp = new Date().getTime(); // Add a timestamp to make the filename unique
                var fileName = `$ni-cropped-${timestamp}.png`;
                formData.append('image', blob, fileName);

                fetch(form.action, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest', // Indicate AJAX request
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = data.redirect_url;// Assuming 'redirect_url' is sent from the server
                    } else {
                        console.error('Submission failed:', data.errors);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        }else if (isValid) {
            // Handle the case where the form is valid but no image is selected for cropping
            // You might want to submit the form normally, or provide feedback
            console.log('Form is valid but no image was selected for cropping.');
        }
    });
});
</script>
<script src="{% static 'be/plugins/global/plugins.bundle.js' %}"></script>
<!-- Cropper JS For image cropping -->
<link href="{% static 'be/plugins/custom/cropper/cropper.bundle.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'be/plugins/custom/cropper/cropper.bundle.js' %}"></script>
{% endblock %}