{% extends 'front/base.html' %}
{% load static %}
{% block content %}
<div role="main" class="main">
    <!-- Breadcrumb Start Here -->
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">Self Leader Creation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- /Breadcrumb Ends Here -->
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-12 order-1 order-lg-2">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="featured-box featured-box-primary text-left mt-0">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 row justify-content-center">Self Leader Creation</h4>
                                {% include 'front/includes/messages.html' %}
                                <form method="POST" class="needs-validation">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            {{form.first_name}}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-12">
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-lg-6">
                                            {{form.password}}
                                        </div>
                                        <div class="form-group col-lg-6">
                                            {{form.confirm_password}}
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col">
                                            <button type='submit' class='btn btn-primary btn-modern btn-block text-uppercase py-3'>Register</button>
                                        </div>
                                    </div>
                                    {{form.email.errors}}
                                    {{form.non_field_errors}}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
