{% extends 'front/promotion-base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Free Laughter Yoga Training Workshop for School & Yoga Teachers in Jaipur - Laughter Yoga International</title>
<meta name="keywords" content="Mental Health, laughter yoga, health benefits, Stress Booster"/>
<meta name="description"
      content="Laughter Yoga is a powerful tool for POSITIVE MENTAL HEALTH. It is an instant STRESS BUSTER and can reduce physical mental and emotional stress.">
<meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <section class="shop section coaching border-0 m-0">
        <div class="container">
            {% include 'front/includes/messages.html' %}
            <div class="mt-3">
                <div class="text-center pb-5">
                    <p class="h2">Laughter Yoga Training for Yoga Teachers and School Teachers</p>
                    <p class="h4"> Laughter Guru coming to Jaipur for FREE Training </p>
                    <p class="h4 pb-4"> for 3 hours on Sunday, 11<sup>th</sup> December 2022</p>
                    <div class="row justify-content-center pb-3">
                        <div class="col-lg-6">
                            <div class="video-container">
                                <iframe width="100%" height="350" src="https://www.youtube.com/embed/TkkdtW5Y33k"
                                        title="YouTube video player" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                        class="rounded" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-sm-12 col-md-10 col-lg-4 col-xl-4">
                            <button type="button"
                                    class="btn btn-modern btn-warning mb-2 text-dark"
                                    data-toggle="modal" data-target="#jaipurTourForm">
                                Register Now
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row text-light pb-5">
                        <div class="col-lg-6">
                            <ul>
                                <li>Dr. Madan Kataria, is the founder and creator of Laughter Yoga Worldwide Movement
                                    present in 120 countries. Laughter Yoga is most popular in USA, Germany and Japan.
                                </li>
                                <li>Laughter Yoga is scientifically proven and there are more than 150 research studies
                                    published worldwide.
                                </li>
                                <li>Benefits: 10 minutes of Laughter exercises will reduce stress, strengthen your
                                    immune
                                    system and you will not fall sick easily. If you have any chronic health problem
                                    like
                                    hypertension, diabetes, heart disease, arthritis, insomnia, and cancer, you will
                                    heal
                                    much faster.
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <p><strong>What you’ll learn</strong></p>
                            <ul>
                                <li>In 3 hours training you will be able to conduct 10 minutes of Laughter Yoga at the end of
                                    the Yoga Class.
                                </li>
                                <li>Laughter Yoga will add value to Yoga Session and make your participants happy and in
                                    a good mood.
                                </li>
                                <li>The entire session will be video recorded and hosted on YouTube so that you can view
                                    and practice later.
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bg-color-light py-4 rounded mb-4">
                        <div class="col-lg-4 pb-4">
                            <p class="h3 text-dark text-center">11<sup>th</sup> Dec, 2022</p>
                            <p class="mb-0 text-dark text-center">Date</p>
                        </div>
                        <div class="col-lg-4 pb-4">
                            <p class="h3 text-dark text-center">08:00 AM to 11:00 AM</p>
                            <p class="mb-0 text-dark text-center">Time</p>
                        </div>
                        <div class="col-lg-4">
                            <p class="h3 text-dark text-center">Prerequisite</p>
                            <p class="mb-0 text-dark text-center">Yoga Instructors</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <section class="section border-0 m-0">
        <div class="container py-3 my-4">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1>More oxygen from exhalation</h1>
                    <p>The hallmark of yoga breathing is that we should exhale longer than we inhale so as to get
                        rid of the residual air from the lungs. This will increase the amount of fresh air and more
                        oxygen.</p>
                    <p>Laughter is like a breathing exercise which helps us to exhale longer and get rid of stale
                        air from our lungs. In normal breathing we inhale and exhale only 500 ml of air. While there
                        is large amount of residual air in our lungs ( Residual Volume 1500 ml) by practising
                        prolonged laughter we can force exhale the residual air and get more oxygen. </p>
                </div>
                <div class="col-lg-6 text-center">
                    <img src="{% static 'img/pages/lungs.png' %}" class="img-fluid"
                             alt="More oxygen from exhalation">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-3 my-4">
            <div class="row justify-content-center">
                <div class="col-lg-4 mb-2 pb-2">
                    <img src="{% static 'img/pages/dr-madan-kataria.jpg' %}" class="img-fluid rounded"/>
                </div>
                <div class="col-lg-8">
                    <h2>Know your Trainer</h2>
                    <p>Dr. Madan Kataria, a medical doctor from Mumbai, India, popularly known as the ‘Guru of Giggling’ (London
                        Times), is the founder of Laughter Yoga which grown into a worldwide movement with thousands
                        of Laughter Yoga clubs in over 100 countries. <br/> <br/>Dr.Madan Kataria from his 25 years
                        of experience can teach you special guided techniques how to laugh all by yourself, with
                        your family and your colleagues. Dr. Kataria is a keynote, motivational and inspirational
                        speaker for companies, corporations and organizations all over the world. He is also a
                        corporate consultant for holistic health, stress management, teambuilding, leadership, peak
                        performance and communication skills.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10 col-lg-4 col-xl-4">
                    <button type="button"
                            class="btn btn-modern btn-warning mb-2 text-dark"
                            data-toggle="modal" data-target="#jaipurTourForm">
                        Register Now
                    </button>
                </div>
            </div>
            <div class="modal fade" id="jaipurTourForm" tabindex="-1" role="dialog" aria-labelledby="indiaTourForm"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Registration Form</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post" class="needs-validation" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="email" name="email" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" type="text" name="contact"
                                                   placeholder="Phone No" min="10"
                                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                                   required>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="form-group">
                                        <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="form-group col-6">
                                        <button type='submit' class='btn btn-success'>Register Now</button>
                                    </div>
                                </div>
                                {{form.non_field_errors}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}