{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Laughter Yoga 2.0 Japanese - Laughter Yoga International</title>
<meta name="keywords" content="laughter, laughter yoga, laughter lessons, laughter course"/>
<meta name="description"
      content="LY 2.0 is an advanced teaching and coaching program, and you will learn directly from the founder Dr Madan Kataria. It consists of 4 lessons of 90 minutes duration.">
<meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/ly2-banner-jp.jpg' %}"/>
    </div>
</div>
<div role="main" class="main">
    <div class="container py-3 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>笑いヨガリーダー・ティーチャーさんのためのスキルアップ講座</h1>
                <p>感染症拡大の影響により、笑いヨガ（ラフターヨガ）への興味＆需要は、飛躍的に高まっています。
                <p>
                    笑いヨガを提供する立場である私たちは、このご時世だからこそ、さまざまな分野における笑いヨガの需要に対応するべく、知識レベルやスキルを向上させなければなりません。</p>
                <p>この講座は、笑いヨガ創始者Dr.マダン・カタリア直伝の、スキルアップ・コーチングプログラムです。</p>
                <p>講座は、各回90分で全4回。笑いヨガマスタートレーナーであり、通訳士の国家資格を持つ森岡美智（みっちゃん）が日本語通訳を務めます。</p>
                <p><strong>動画＆パワーポイントのプレゼンテーション付き：</strong>
                    全ての講義の録画をお渡しします。当日不参加、遅刻、早退の場合も安心。講義の動画は終了後も何度も見直して、復習することができます。さらに、皆さまが、笑いヨガを提供する際に活用していただける、パワーポイントのスライド（日本語）も差し上げます。
                </p>
                <p><strong>笑いヨガの科学的調査結果:</strong>
                    笑いヨガの効果に関する研究は、日々進化しています。但し、そのほとんどは英語です。本講座では、笑いヨガ関係者にぜひ知っていただきたい、代表的な調査結果を日本語に訳し、受講者の皆さまにパワーポイントでお渡しします。
                </p>
            </div>
            <div class="col-lg-6">
                <p>
                    <img src="{% static 'img/pages/blc/blc-group.jpg' %}" class="img-fluid" alt="laughter-yoga-2-0">
                </p>
                <p>科学的根拠に基づいた説明を加えながら、エクササイズをリードすることにより、ご参加者が笑いヨガに取り組む姿勢も変わることでしょう。</p>
                <p><a class="btn btn-success btn-md" href="https://ssl.form-mailer.jp/fms/d9bcc103675473"
                      target="_blank">お申し込みはこちら</a></p>
            </div>
        </div>
    </div>
    <section class="shop section section-height-2 border-0 m-0">
        <div class="container">
            <h3 class="text-center">LY2.0シラバス </h3>
            <!--<p class="text-center">2022年7月1日、8日、22日、29日（金曜日 x 4回）<br> 毎回日本時間午後7時から8時半</p>-->
            <div class="accordion" id="accordion1">
                <div class="card card-default">
                    <div class="card-header" id="collapse1HeadingOne">
                        <h4 class="card-title m-0 text-4 my-2">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse1One"
                               aria-expanded="true" aria-controls="collapse1One">
                                2024年1月10日、17日、24日、31日（水曜4回）
                            </a>
                        </h4>
                    </div>
                    <div id="collapse1One" class="collapse show" aria-labelledby="collapse1HeadingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p class="h4 pb-1">笑いヨガリーダー・ティーチャー・マスタートレーナーのためのコーチング＆育成プログラム</p>
                                    <p>スキルアップ講座は、笑いヨガ関係者たちが、知識とスキルを向上させるためのプログラムです。</p>
                                    <p>笑いヨガ界での活動の可能性を広げましょう。本プログラムは、笑いヨガの専門家を育成し、人々が喜びとともに生きる助けとなるツールを学んでいただくものです。パワフルで人の心を掴むクラスのリードの仕方を学び、そこから生まれる絆を味わって、世界に広がる笑いヨガコミュニティーの一員であることを体感してください。</p>
                                </div>
                            </div>
                            <div class="products row row-gutter-sm mb-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="750">
                                <div class="col-lg-6">
                                    <h1>レッスン１</h1>
                                    <ul>
                                        <li>
                                            <p><strong>オンラインでの笑いヨガの可能性と課題</strong></p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>笑いヨガクラブやトレーニングをオンラインで効率よく開催する方法</li>
                                                <li>対面でトレーニングを受けた人たちをオンラインでフォローする方法</li>
                                                <li>オンラインセッション中に動画や音楽を活用する方法</li>
                                                <li>パワーポイントやバーチャル背景の活用、参加者のミュート・ミュート解除操作や、荒らし行為</li>
                                                <li>の対処の仕方（裏方操作）</li>
                                                <li>オンラインでのおすすめエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン２</h1>
                                    <ul>
                                        <li>
                                            <p><strong>エゴとは何か？エゴの人間関係への影響</strong></p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>エゴによる問題が生じていないか、チェックの仕方</li>
                                                <li>エゴと自尊心の違い</li>
                                                <li>笑いヨガがいかにエゴを落ち着かせることができるか</li>
                                                <li>笑いヨガと、エゴの陰陽を活用することにより、スピリチュアル的に成長する</li>
                                                <li>ハイキングをテーマにした笑いヨガエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 mb-1 pb-1">
                                    <h1>レッスン３</h1>
                                    <ul>
                                        <li>
                                            <p><strong>精神障害を抱える方達との笑いヨガ</strong></p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>ダウン症や、自閉症、ADHD（注意欠如・多動症）等の小児行動障害を含む、発達遅滞（ちた</li>
                                                <li>い）を抱える子供達との笑いヨガのやり方</li>
                                                <li>精神障害を抱える方達との笑いヨガのやり方（現場の動画あり）</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン4</h1>
                                    <ul>
                                        <li>
                                            <p><strong>ご高齢者との笑いヨガ（アルツハイマー、認知症）</strong></p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>なぜ年と共に笑う回数が減るのか？</li>
                                                <li>アルツハイマーと認知症の理解</li>
                                                <li>高齢者にふさわしい笑いのエクササイズの種類と、効果的なリードの仕方</li>
                                                <li>タッピング（つぼの刺激）、音楽や小道具の活用、体操やダンスの活用、脳トレゲーム等</li>
                                                <li>高齢者との笑いヨガに関する、科学的調査結果</li>
                                                <li>高齢者との笑いヨガに使えるエクササイズ（現場の動画あり）</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-offset-4">
                                        <a class="btn btn-success btn-md"
                                           href="https://ssl.form-mailer.jp/fms/d9bcc103675473" target="_blank">お申し込みはこちら</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Season 4 -->
                <div class="card card-default">
                    <div class="card-header" id="ly2jps4h">
                        <h4 class="card-title m-0 text-4 my-2">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#ly2jps4"
                               aria-expanded="false" aria-controls="collapse1Two">
                                第3期は終了しました。 - 第4期の動画やパワーポイント資料は、全て、今からでもご購入いただけます。
                            </a>
                        </h4>
                    </div>

                    <div id="ly2jps4" class="collapse" aria-labelledby="ly2jps4h">
                        <div class="card-body">
                            <div class="products row row-gutter-sm mb-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="750">
                                <div class="col-lg-12">
                                    <p class="text-center"><strong>4レッスン全ての動画、講座用パワーポイント、科学調査のパワーポイント、科学調査の原文（英語のみ）、<br>
                                        エクササイズの説明文のダウンロードリンクを差し上げます。</strong></p>
                                </div>
                                <div class="col-lg-6">
                                    <h1>レッスン１</h1>
                                    <ul>
                                        <li>
                                            <p><strong>企業での笑いヨガ</strong></p>
                                            <p>社員が就業中に息抜きをしたり、集中力を持続させたりするために、笑いヨガは最適なツールです。笑いヨガのセッションは楽しく、健康管理にも役立ち、企業のニーズに合わせて組み立てることのできるものです。社員の心身の健康を増進するツールを学びながら、ストレス解消の効果を実感してください。笑いヨガで日々の仕事のストレスは吹き飛びます。</p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>企業や会社にアプローチする方法とは？</li>
                                                <li>企業のニーズに合わせたさまざまなプログラム</li>
                                                <li>プロの講師としてのスキル、動画撮影、プロフィール動画作成、履歴書の作成</li>
                                                <li>企業での笑いヨガに関する研究結果</li>
                                                <li>企業で喜ばれる笑いヨガエクササイズのリスト</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン２</h1>
                                    <ul>
                                        <li>
                                            <p><strong>マイナスな思考や、マイナスな人たちへの対応の仕方</strong>
                                            </p>
                                            <p>笑いヨガは、マイナスな思考や、ストレスとなる人間関係に対する、最良の解決方法です。笑いヨガの実践により、気分は高まり、物事のプラスの側面を見やすくなります。楽しく笑うこと、深く呼吸をすること、プラスの言葉を声に出すこと等々を実践することで、誰でも心の健康と幸福感を高めることができます。笑いヨガにより、ストレスを一掃しましょう。</p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>笑いヨガを通して、心をポジティブに保つ効果的な方法</li>
                                                <li>
                                                    なぜ人は笑うのか？笑いの3つの仮説
                                                    <ul>
                                                        <li>安堵説</li>
                                                        <li>優越説</li>
                                                        <li>不調和説</li>
                                                    </ul>
                                                </li>
                                                <li>「理由なく笑う」をテーマとした笑いヨガエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 mb-1 pb-1">
                                    <h1>レッスン３</h1>
                                    <ul>
                                        <li>
                                            <p><strong>病院での笑いヨガ</strong></p>
                                            <p>笑いヨガの癒しの力の体験しましょう。病院での笑いヨガは、これまでにないストレス解消と、健康増進の方法を提供することができます。患者さんを、一連の楽しい動作や簡単なヨガのストレッチ、笑いのエクササイズ等で誘導することにより、短期的に見ても、長期的に見ても、効果の高い治療補助となります。</p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>医師や看護師、職員、患者、精神科、透析センター、化学療法現場等での笑いヨガ</li>
                                                <li>笑いヨガは慢性病に対する癒しのツール</li>
                                                <li>笑いヨガとポジティブ心理学</li>
                                            </ul>
                                            <br>
                                            <p>笑いヨガと、マーティン・セリグマンが提唱したポジティブ心理学の共通点。ポジティブな感情や長所、生きがい等を通じて、健康や幸福感、成長を促進するための科学的根拠に基づいたツールです。</p>
                                            <ul>
                                                <li>幸福感を感じるための笑いヨガエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン4</h1>
                                    <ul>
                                        <li>
                                            <p><strong>身体障害者との笑いヨガ</strong></p>
                                            <p>身体の障害を持つ方にとって、笑いヨガは、元気に幸せに活発に生きるための最適なツールです。笑いヨガの実践により、身体の可動性が高まったり、ストレスが軽減されたり、気分がよくなったり、活力が沸いたりします。楽しくセッションを通して、痛みの少ない、より健康な体に近づくことができるのです。</p>
                                            <p>内容：</p>
                                            <ul>
                                                <li>体の麻痺、脳性麻痺、MS（多発性硬化症）、筋ジストロフィー等を持つ方への笑いヨガ</li>
                                                <li>効果と課題</li>
                                                <li>車椅子の方達と笑って歌って踊る方法（動画）</li>
                                                <li>浄化と解毒を促すための笑いヨガエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-offset-4">
                                        <a href="#" class="btn btn-success btn-modern">ダウンロード中</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Season 3 -->
                <div class="card card-default">
                    <div class="card-header" id="ly2jps3h">
                        <h4 class="card-title m-0 text-4 my-2">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#ly2jps3"
                               aria-expanded="false" aria-controls="collapse1Two">
                                第3期は終了しました。 - 第3期の動画やパワーポイント資料は、全て、今からでもご購入いただけます。
                            </a>
                        </h4>
                    </div>

                    <div id="ly2jps3" class="collapse" aria-labelledby="ly2jps3h">
                        <div class="card-body">
                            <div class="products row row-gutter-sm mb-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="750">
                                <div class="col-lg-12">
                                    <p class="text-center"><strong>4レッスン全ての動画、講座用パワーポイント、科学調査のパワーポイント、科学調査の原文（英語のみ）、<br>
                                        エクササイズの説明文のダウンロードリンクを差し上げます。</strong></p>
                                </div>
                                <div class="col-lg-6">
                                    <h1>レッスン1</h1>
                                    <ul>
                                        <li>笑いヨガとリンパ系</li>
                                        <li>リンパ系の機能を理解します。リンパ系に属する器官：リンパ液、リンパ節、脾臓、胸腺、リンパ管について学びます。</li>
                                        <li>笑いヨガがリンパ系を強化する仕組み</li>
                                        <li>笑いヨガで使う筋肉</li>
                                        <li>
                                            <ul>
                                                <li>顔、首、胸、横隔膜、お腹の筋肉</li>
                                                <li>新ラフターエクササイズを学ぶ</li>
                                                <li>笑いヨガに関する科学的調査</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン2</h1>
                                    <ul>
                                        <li>笑いヨガ実践者のためのマインドフルネス</li>
                                        <li>
                                            <ul>
                                                <li>人生を楽しむためになぜマインドフルネスが重要なのか？</li>
                                                <li>瞑想とマインドフルネスの違い</li>
                                                <li>
                                                    マインドフルネスにより、人生のピントが合い、集中力が高まるため、最小の努力で最大の結果を得ることができる
                                                </li>
                                            </ul>
                                        </li>
                                        <li>マインドフルネスの実戦</li>
                                        <ul>
                                            <li>ボディスキャン、マインドフル呼吸、マインドフルな食事、マインドフルな聞き方、マインドフルな観察</li>
                                            <li>新ラフターエクササイズを学ぶ</li>
                                            <li>笑いヨガに関する科学的調査</li>
                                        </ul>
                                    </ul>
                                </div>
                                <div class="col-lg-6 mb-1 pb-1">
                                    <h1>レッスン3</h1>
                                    <ul>
                                        <li>子供との笑いヨガ</li>
                                        <li>
                                            <ul>
                                                <li>学校で笑いヨガを教えることの素晴らしさと大変さ。なぜ7歳以前に笑いヨガを体験するのが良いのか</li>
                                                <li>
                                                    近年の子供たちがより笑いを必要としている理由。子供の年齢別笑いヨガのリードの仕方。喜びの四要素の活用。子供に価値観を教えるためのエクササイズ。
                                                </li>
                                                <li>笑いヨガ文書</li>
                                                <li>年齢別笑いヨガエクササイズ</li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <h1>レッスン4</h1>
                                    <ul>
                                        <li>糖尿病と笑いヨガ</li>
                                        <li>糖尿病を理解する：原因、兆候、症状、合併症</li>
                                        <li>笑いヨガが血糖値を最適化する仕組み</li>
                                        <li>笑いヨガと糖尿病に関する科学的調査</li>
                                        <li>デュシェンヌスマイルと、デュシェンヌ笑いの培い方</li>
                                        <li>新ラフターエクササイズを学ぶ</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-offset-4">
                                        <a href="#" class="btn btn-success btn-modern">ダウンロード中</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Season 2 -->
                <div class="card card-default">
                    <div class="card-header" id="ly2jps2h">
                        <h4 class="card-title m-0 text-4 my-2">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#ly2jps2"
                               aria-expanded="false" aria-controls="collapse1Two">
                                第2期は終了しました。 - 第2期の動画やパワーポイント資料は、全て、今からでもご購入いただけます。
                            </a>
                        </h4>
                    </div>

                    <div id="ly2jps2" class="collapse" aria-labelledby="ly2jps2h">
                        <div class="card-body">
                            <div class="products row row-gutter-sm mb-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="750">
                                <div class="col-lg-12">
                                    <p class="text-center"><strong>4レッスン全ての動画、講座用パワーポイント、科学調査のパワーポイント、科学調査の原文（英語のみ）、<br>
                                        エクササイズの説明文のダウンロードリンクを差し上げます。</strong></p>
                                </div>
                                <div class="col-lg-6">
                                    <h1>レッスン1</h1>
                                    <ul>
                                        <li>循環器（心臓血管）系への笑いヨガの作用</li>
                                        <li>
                                            <ul>
                                                <li>
                                                    有酸素運動としての笑いヨガの効果とは？血圧のコントロール、血管の拡張、動脈炎の改善等、具体的な効果を学びます。
                                                </li>
                                                <li>心拍変動（HRV）について学び、なぜ、心臓を健康に保つためにHRVが重要を理解しましょう。</li>
                                            </ul>
                                        </li>
                                        <li>科学的調査：心血管疾患に関する笑いヨガの効果</li>
                                        <li>医療（医師、患者、病院、痛み等）をテーマにした笑いヨガエクササイズ</li>
                                    </ul>
                                    <h1>レッスン2</h1>
                                    <ul>
                                        <li>肉体的及び心理的デトックスのための笑いヨガ</li>
                                        <li>
                                            <ul>
                                                <li>
                                                    体内の相当数の細胞が毎日死んでいます。さらに、私たちは毎日たくさんの有害物質にさらされています。あなたの体は酸化していませんか？呼吸や笑いヨガをすることは、体内の毒素を排出し、酸塩基バランス（体内の酸性とアルカリ性のバランス）を保つ助けとなります。
                                                </li>
                                                <li>笑いヨガのカタルシス効果：笑いヨガには精神的・感情的重荷を手放す効果があります。</li>
                                            </ul>
                                        </li>
                                        <li>科学的調査：ハンガリーで実施された調査の結果、笑いヨガの動画を観るだけで効果が得られることが判明。</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 mb-1 pb-1">
                                    <h1>レッスン3</h1>
                                    <ul>
                                        <li>がん患者への笑いヨガ</li>
                                        <li>
                                            <ul>
                                                <li>がんとは何か？がんを発症する仕組み。</li>
                                                <li>正常な細胞と癌細胞の違いや、がんにおける遺伝子変異の役割を学びます。</li>
                                                <li>がんの種類、兆候、症状、危険因子、治療の選択肢、予防等について、理解を深めます。</li>
                                                <li>
                                                    化学療法を受けている間、及び、その後の笑いヨガの役割：生存率や、人生の質を高める効果があります。
                                                </li>
                                            </ul>
                                        </li>
                                        <li>科学的調査：がん患者対象の調査（概要）</li>
                                        <li>日常生活の苛立ち、失敗、きまり悪さをテーマにした笑いヨガエクササイズ</li>
                                        <li>気分や感情をテーマにした笑いヨガエクササイズ</li>
                                    </ul>
                                    <h1>レッスン4</h1>
                                    <ul>
                                        <li>フィットネスとしての笑いヨガ</li>
                                        <li>
                                            <ul>
                                                <li>
                                                    呼吸法、ストレッチ、ツボの刺激、関節の回転等を取り入れることにより、笑いヨガの体験は、より深く、より楽しく、より充実したものになります。
                                                </li>
                                            </ul>
                                        </li>
                                        <li>科学的調査：笑いヨガのエクササイズ（運動）効果</li>
                                        <li>スポーツをテーマにした笑いヨガエクササイズ</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-offset-4">
                                        <a href="#" class="btn btn-success btn-modern">ダウンロード中</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Season 1 -->
                <div class="card card-default">
                    <div class="card-header" id="collapse1HeadingTwo">
                        <h4 class="card-title m-0 text-4 my-2">
                            <a class="accordion-toggle" data-toggle="collapse" data-target="#collapse1Two"
                               aria-expanded="false" aria-controls="collapse1Two">
                                第1期は終了しました。 - 第1期の動画やパワーポイント資料は、全て、今からでもご購入いただけます。
                            </a>
                        </h4>
                    </div>

                    <div id="collapse1Two" class="collapse" aria-labelledby="collapse1HeadingTwo">
                        <div class="card-body">
                            <div class="products row row-gutter-sm mb-1 appear-animation"
                                 data-appear-animation="fadeInUpShorter"
                                 data-appear-animation-delay="750">
                                <div class="col-lg-12">
                                    <p class="text-center"><strong>4レッスン全ての動画、講座用パワーポイント、科学調査のパワーポイント、科学調査の原文（英語のみ）、<br>
                                        エクササイズの説明文のダウンロードリンクを差し上げます。</strong></p>
                                </div>
                                <div class="col-lg-6">
                                    <h1>レッスン1</h1>
                                    <ul>
                                        <li>交感神経の仕組みと、ストレスが神経に及ぼす影響。なぜ笑いヨガは、効率よくストレスを解消できるのか？</li>
                                        <li><strong>科学的調査:</strong> ニュージーランドで行われた調査を紹介。ユーモアを使った笑いと、笑いヨガでの笑いの、効果の違い。
                                        </li>
                                        <li>子供に還るおまじない：「いいぞ、いいぞ、イェーイ」の掛け声には、どんな心理的影響があるのか？</li>
                                        <li><strong>健康の知恵:</strong> 脂っこいものを食べた後のレモンとぬるま湯の効果。</li>
                                    </ul>
                                    <h1>レッスン2</h1>
                                    <ul>
                                        <li>副交感神経の仕組みと、笑いが神経に及ぼす影響。なぜ笑いは副交感神経を優位にするのか？</li>
                                        <li>宇宙と繋がるための笑いヨガエクササイズシリーズ</li>
                                        <li><strong>科学的調査:</strong>
                                            ロシアの小売店チェーンの従業員対象に実施された調査。笑いヨガがいかに、従業員の仕事の効率と実績を伸ばしたか。
                                        </li>
                                        <li><strong>健康の知恵:</strong> 感情解放テクニック</li>
                                    </ul>
                                </div>
                                <div class="col-lg-6 mb-1 pb-1">
                                    <h1>レッスン3</h1>
                                    <ul>
                                        <li>
                                            幸福ホルモンである、エンドルフィンとドーパミンが、生理的に私たちに及ぼす影響。笑いにより、どれほど、エンドルフィンとドーパミンが分泌されるか？
                                        </li>
                                        <li>笑いと肺活量の関係。</li>
                                        <li><strong>健康の知恵:</strong> 『アヌロムヴィロム』私たちの陰陽のエネルギーを統合する呼吸法。</li>
                                        <li><strong>科学的調査:</strong> 日本で実施された、笑いヨガとストレスの関係の調査。</li>
                                    </ul>
                                    <h1>レッスン4</h1>
                                    <ul>
                                        <li>うつ病への理解：うつ病の種類と、セロトニンのうつ病に対する効果。笑いにより、どれほどセロトニンが分泌されるか？</li>
                                        <li>笑いのエクササイズの間に行う呼吸法</li>
                                        <li><strong>健康の知恵:</strong> オイルうがい。毒素と細菌を除去するためのインドのうがい法。</li>
                                        <li><strong>科学的調査:</strong>
                                            ご高齢者対象の調査。笑いヨガを組み合わせることにより、ご高齢者が運動をするモチベーションが、どれほど高まるか？
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="col-lg-4 col-offset-4">
                                        <a href="#" class="btn btn-success btn-modern">ダウンロード中</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container my-5 pt-md-4 pt-xl-0">
        <div class="align-items-center justify-content-center pb-4 mb-5">
            <h3 class="text-center pb-3">ファシリテーター (Facilitators)</h3>
            <div class="row pb-1">
                <div class="col-lg-4 mb-4 pb-2">
                    <p><img src="{% static 'img/pages/dr-madan-kataria.jpg' %}" class="img-fluid"
                            alt="dr-madan-kataria"
                            style="float:left; width:220px; height:280px; padding: 0px 10px 0px;">Dr. Madan Kataria（Dr.
                        マダン・カタリア）, インドのムンバイ出身の医師であり、世界100カ国以上で実践される【笑いヨガ（ラフターヨガ）】の創始者。 <br>
                        27年前に笑いヨガを生み出して以来、家庭でも、職場でも、そして1人でも笑える方法として、笑いヨガを世界に伝えると同時に、自身も実践してきた。
                        全人的健康法、ストレス解消、チーム作り、リーダーシップ、能力向上、コミュニケーションスキル等のテーマで、企業コンサルタントとしても活動している。
                    </p>
                </div>
                <div class="col-lg-4 mb-4 pb-2">
                    <p><img src="{% static 'img/pages/vinayak-shastri.jpg' %}" class="img-fluid"
                            alt="vinayak-shastri"
                            style="float:left; width:220px; height:280px; padding: 0px 10px 0px;">Vinayak
                        Shastri（ヴィナヤック・シャストリ）笑いヨガ創始者Dr.カタリアから直接教えを受けたマスタートレーナー。
                        7年間に渡って、Dr.カタリアの右腕として、各種講座やトレーニングのアシスタントを務めている。<br>インド中を渡り、笑いクラブの設立に尽力しながら、刑務所、学校、警察、奇襲部隊等で、笑いヨガのトレーニングやセミナーを提供。日本、香港、中国でも笑いヨガを普及している。
                        ヨガの修士号も持つ。
                    </p>
                </div>
                <div class="col-lg-4 mb-4 pb-2">
                    <p><img src="{% static 'img/pages/michi-morioka.jpg' %}" class="img-fluid"
                            alt="vinayak-shastri"
                            style="float:left; width:220px; height:280px; padding: 0px 10px 0px;">森岡美智（みっちゃん）Michi
                        Morioka Dr. カタリアから直接教えを受けたマスタートレーナー。<br>2011年、自身がうつ病と診断された際に、笑いヨガに出会う。1時間で世界の見え方が変わる、その癒しの効果に衝撃を受けた。
                        すぐに資格を取り、笑いヨガの普及に人生を捧げ始める。<br>講演やリトリート、養成講座等を精力的に行い、年間述べ3,000人と笑う生活。通訳士の国家資格も生かし、Dr.カタリアのアシスタント＆日本語通訳も務める。
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-offset-4">
                        <a class="btn btn-success btn-md" href="https://ssl.form-mailer.jp/fms/d9bcc103675473"
                           target="_blank">お申し込みはこちら</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}