{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/prozone.jpg' %}"/>
    </div>
</div>
<div class="container py-2">
    <div class="row">
        <div class="col">
            <h1>Audio Download</h1>
            <div class="row">
            {% for audio in all_audio_downloads %}
            <div class="col-lg-4 pb-3">
                <span class="img-thumbnail d-block">
                    <a href="#" target="_parent"><img class="img-fluid" src="{% cropped_thumbnail audio 'cropped_image' %}" alt="{{audio.title}}"></a>
                </span>
                <p class="text-center"><a href="#" target="_parent">{{audio.title}}</a></p>
                <p class="text-center">{{audio.description|safe}}</p>
            </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}