{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Download Photos - Laughter Yoga International</title>
    <meta name="keywords" content="dr madan kataria, laughter, pro diary, laughter yoga"/>
    <meta name="description" content="You can able to download all the resources.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/free-downloads.jpg' %}"/>
    </div>
</div>
<div class="container py-2">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="{% url 'audio-download' %}" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/free/audios.jpg' %}" alt="ebooks"></a>
                            </span>
                            <p class="text-center"><a href="{% url 'audio-download' %}" target="_parent">Audios</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="{% url 'document-download' %}" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/free/documents.jpg' %}" alt="ebooks"></a>
                            </span>
                            <p class="text-center"><a href="{% url 'document-download' %}" target="_parent">Documents</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="{% url 'logo-download' %}" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/free/logos.jpg' %}" alt="ebooks"></a>
                            </span>
                            <p class="text-center"><a href="{% url 'logo-download' %}" target="_parent">Logos</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="{% url 'quote-download' %}" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/free/laughter-quotes.jpg' %}" alt="ebooks"></a>
                            </span>
                            <p class="text-center"><a href="{% url 'quote-download' %}" target="_parent">LaughterQuotes</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="{% url 'book-download' %}" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/free/e-books.jpg' %}" alt="ebooks"></a>
                            </span>
                            <p class="text-center"><a href="{% url 'book-download' %}" target="_parent">eBooks</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}