<div class="container py-2">
    <div class="header-row justify-content-between">
        <div class="header-column col-auto px-0">
            <div class="header-row">
                <div class="header-nav-top">
                    <ul class="nav nav-pills position-relative">
                        <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                            <span class="d-flex align-items-center font-weight-medium ws-nowrap text-3 ps-0">
                                <a href=""
                                    class="btn btn-primary btn-outline custom-btn-border-radius appear-animation animated fadeInLeftShorterPlus appear-animation-visible">
                                    Join Free Online Laughter Club
                                </a>
                            </span>
                        </li>
                        <li class="nav-item nav-item-left-border nav-item-left-border-remove nav-item-left-border-sm-show">
                            <span class="d-flex align-items-center font-weight-medium text-color-dark ws-nowrap text-3">
                                <a href=""
                                    class="btn btn-primary btn-outline custom-btn-border-radius appear-animation animated fadeInLeftShorterPlus appear-animation-visible">
                                    Enroll for Online Course
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="header-column justify-content-end col-auto px-0 d-none d-md-flex">
            <div class="header-row">
                <nav class="header-nav-top">
                    <ul class="header-social-icons social-icons social-icons-clean social-icons-icon-gray social-icons-medium custom-social-icons-divider">
                        <li class="social-icons-facebook">
                            <a href="http://www.facebook.com/" target="_blank" title="Facebook"><i
                                    class="fab fa-facebook-f"></i></a>
                        </li>
                        <li class="social-icons-twitter">
                            <a href="http://www.twitter.com/" target="_blank" title="Twitter"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li class="social-icons-linkedin">
                            <a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i
                                    class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>