<div class="header-top header-top-small-min height header-top-simple-border-bottom">
    <div class="container py-2">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">

            <span>
                <a href="{% url 'basic-learning-course' %}" target="_parent" style="color:#ffffff;">Online Certification Course by Dr. Madan Kataria begins on April 8, 2024 <span class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">Enroll Now</span></a> &nbsp; | &nbsp;
            </span>
            <span>
                <a href="{% url 'zoom-laughter-club' %}" target="_parent" style="color:#ffffff;">FREE Live Laughter Club on Zoom <span class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">Join Now</span></a> &nbsp; | &nbsp;
            </span>
            <!--<span style="color:#ffffff;">
                Upcoming Online Trainings <a href="{% url 'basic-learning-course' %}" target="_parent" class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">Find Now</a> &nbsp; | &nbsp;
            </span>
            <span style="color:#ffffff;">
                Trainings Worldwide <a href="{% url 'find-training' %}" target="_parent" class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">Find Now</a> &nbsp; | &nbsp;
            </span>-->
            <span style="color:#ffffff;">
                Contact us by <a href="mailto:help@laughteryoga.org" target="_blank" class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">Email </a> or
                <a href="https://wa.me/8884567891" target="_blank" class="badge badge-sm bg-white text-primary text-uppercase rounded me-2">WhatsApp </a>
            </span>
        </marquee>
    </div>
</div>