{% extends 'front/dashboard-base.html' %}
{% load i18n %}
{% load cropping %}
{% block content %}
{% include 'front/includes/messages.html' %}
{% if user.is_authenticated %}
<div class="col-xl-12">
    <div class="card">
        <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
                <h4 class="card-title mb-2 mt-2">{% trans 'List Laughter Clubs' %}</h4>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive border">
                <table class="table table-hover mb-0 text-md-nowrap">
                    <thead>
                    <tr>
                        <th>{% trans 'Title' %}</th>
                        <th>{% trans 'Name' %}</th>
                        <th>{% trans 'Email' %}</th>
                        <th>{% trans 'Views' %}</th>
                        <th>{% trans 'Last Edit' %}</th>
                        <th>{% trans 'Manage' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for club in object_list %}
                        {% if user.id == club.author.id %}
                        <tr class="align-middle">
                            <td class="align-middle">{{club.title}}</td>
                            <td class="align-middle">{{club.contact_name}}</td>
                            <td class="align-middle">{{club.email}}</td>
                            <td class="align-middle">{{club.views}}</td>
                            <td class="align-middle">{{club.modified_date}}</td>
                            <td class="align-middle">
                                <div class="btn-icon-list">
                                    <a href="{% url 'edit-club' club.id %}" target="_self"><button class="btn btn-warning btn-icon"><i class="typcn typcn-edit"></i></button></a>
                                    <a href="{% url 'delete-club' club.id %}" target="_self"><button class="btn btn-danger btn-icon"><i class="typcn typcn-delete"></i></button></a>
                                </div>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}