{% extends 'front/base.html' %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Forgot Password - Laughter Yoga International</title>
    <meta name="keywords" content="email, password, prozone, laughter professional"/>
    <meta name="description" content="You can retrieve your details by using this form.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">Forgot Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-4">
        <div class="row justify-content-center">
            <div class="col-lg-7 order-1 order-lg-2">
                <div class="row justify-content-md-center">
                    <div class="col-md-8">
                        <div class="featured-box featured-box-primary text-left mt-0">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3 row justify-content-center">Forgot Password</h4>
                                {% include 'front/includes/messages.html' %}
                                <form action="{% url 'forgotPassword' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-lg" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Submit</button>
                                    </div>
                                    <div class="form-group">
                                        <a href="{% url 'login' %}" class="float-right">Got password? Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
