{% extends 'be/base.html' %}
{% load static %}
{% block meta %}
<title>Edit Membership - {{webSettingsUniversal.title}}</title>
<meta name="description" content="{{frontendSettingsUniversal.metaDescription}}"/>
<meta name="keywords" content="{{frontendSettingsUniversal.metaKeyword}}"/>
<meta property="og:title" content="Edit Membership - {{frontendSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{userAccount.full_name}} - {{frontendSettingsUniversal.title}}"/>
{% endblock %}
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <div class="app-content flex-column-fluid mt-10">
        <div class="app-container container-xxl">
            {% include 'be/includes/alert.html' %}
            <div class="card">
                <div class="card-header ribbon ribbon-end ribbon-clip">
                    <div class="ribbon-label">
                        Edit
                        <span class="ribbon-inner bg-warning"></span>
                    </div>
                    <div class="card-title fw-bold m-0">Edit Membership</div>
                </div>
                <div class="card-body pt-0">
                    <div class="card mb-5 mb-xl-10">
                        <div class="collapse show">
                            <form id="testimonialForm" action="{% url 'membershipUpdate' membership.id %}" method="post" class="form" enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="card-body border-top p-9">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if mForm.title.errors %}has-error{% endif %}">
                                                {{ mForm.title }}
                                                <label class="required">Title</label>
                                                {% for error in mForm.title.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if mForm.duration.errors %}has-error{% endif %}">
                                                {{ mForm.duration }}
                                                <label class="required">Duration</label>
                                                {% for error in mForm.duration.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if mForm.price.errors %}has-error{% endif %}">
                                                {{ mForm.price }}
                                                <label class="required">Price</label>
                                                {% for error in mForm.price.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if mForm.type.errors %}has-error{% endif %}">
                                                {{ mForm.type }}
                                                <label class="required">Type</label>
                                                {% for error in mForm.type.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-floating mb-7 {% if mForm.status.errors %}has-error{% endif %}">
                                                {{ mForm.status }}
                                                <label class="required">Status</label>
                                                {% for error in mForm.status.errors %}
                                                <div class="text-danger mt-2">
                                                    {{ error|escape }}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Non Field Errors -->
                                    {% for error in mForm.non_field_errors %}
                                    <div class="text-danger mt-2">
                                        {{ error|escape }}
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="card-footer d-flex justify-content-end py-6 px-9">
                                    <a href="{% url 'membershipList' %}" class="btn btn-light-info me-3">Discard</a>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<!--begin::Custom Javascript(used for this page only)-->
<!-- To Generate date rows based on category selection -->
{% endblock %}