{% extends 'front/base.html' %}
{% load static %}
{% load testimonial_url %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Life Changing Experience - Laughter Yoga International</title>
    <meta name="keywords" content="life changing experience, testimonials, life stories"/>
    <meta name="description" content="You will view all the life changing articles from our trainers around the globe.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <!-- Breadcrumb Starts Here -->
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">Life Changing Experience</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="row">
            <div class="col">
                <div class="blog-posts">
                    <h2 class="text-center">Life Changing Experiences</h2>
                    <div class="row">
                        {% for testimonial in all_testimonials %}
                        <div class="col-md-4 col-lg-3">
                            <article class="post post-medium border-0 pb-0 mb-5">
                                <div class="post-image">
                                    <a href="{% url 'testimonial_detail' testimonial.slug %}">
                                        <img src="{{testimonial.image.url}}"
                                             class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0"
                                             alt="{{testimonial.author}}" style="width:300px; height:300px;"/>
                                    </a>
                                </div>

                                <div class="post-content">
                                    <h2 class="font-weight-normal text-4 my-2 line-height-6">
                                        <a href="{% url 'testimonial_detail' testimonial.slug %}" target="_parent" class="text-decoration-none">{{testimonial.title}}</a>
                                    </h2>
                                    <p>{{testimonial.description|slice:":249"|safe}}..</p>
                                    <div class="post-meta">
                                        <span class="d-block mt-2">
                                            <a href="{% url 'testimonial_detail' testimonial.slug %}"
                                                class="btn btn-xs btn-primary text-1 text-uppercase">Read More</a>
                                        </span>
                                    </div>
                                </div>

                            </article>
                        </div>
                        {% endfor %}
                    </div>

                    {% if latest_testimonial.has_other_pages %}
                    <ul class="pagination float-right">
                        <!-- Left Arrow -->
                        {% if latest_testimonial.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{latest_testimonial.previous_page_number}}"><i class="fas fa-angle-left"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
                        {% endif %}

                        {% for i in latest_testimonial.paginator.page_range %}
                            {% if latest_testimonial.number == i %}
                                <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
                            {% elif i > latest_testimonial.number|add:'-7' and i < latest_testimonial.number|add:'7' %}
                                <li class="page-item"><a class="page-link" href="{% testimonial_url i 'page' request.GET.urlencode %}">{{i}}</a></li>
                            {% endif %}
                        {% endfor %}

                        <!-- Right Arrow -->
                        {% if latest_testimonial.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{latest_testimonial.next_page_number}}"><i class="fas fa-angle-right"></i></a></li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-right"></i></a></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
