{% extends 'front/base.html' %}
{% load static %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Coming Soon - Laughter Yoga International</title>
    <meta name="keywords" content="coming soon, query, laughing, laughter yoga"/>
    <meta name="description" content="This page is under construction.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <div class="container my-5 pt-md-4 pt-xl-0 text-center">
        <img src="{% static 'img/coming-soon.jpg' %}" alt="coming-soon" class="img-fluid" style="width:500px; height:500px;" />
    </div>
</div>
{% endblock %}