{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Laughter Yoga - Laughter Yoga International</title>
    <meta name="keywords" content="laughter, laughter yoga, laughing, health, happiness, stress, depression, real and contagious laughter, breathing, healthy exercise, blood pressure"/>
    <meta name="description" content="The concept of Laughter Yoga is based on scientific studies which has proved that the body cannot differentiate between intentional/voluntary and real laughter.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <!-- Breadcrumb Starts Here -->
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">About Laughter Yoga</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-3 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-4 pb-2">
                <iframe title="Laughter Yoga Sweeping the world" width="100%" height="315" src="https://www.youtube.com/embed/q9MmSFZ0qSw?rel=0"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
            <div class="col-lg-6">
                <h1>What is Laughter Yoga & How can it help you?</h1>
                <p>We all want health and happiness in our lives. But instead we are more stressed, depressed,
                    getting less sleep, thinking negative thoughts and feeling isolated. Does this sound like
                    you? Are you someone who wants to move on and bring more laughter and joy into your life?
                    You’re in the right place. Laughter Yoga is the answer.</p>
                <p>For centuries we’ve known that “laughter is the best medicine” and science has now proven it.
                    And yet, there’s been no reliable method of bringing more laughter into people’s lives. Most
                    of the time, humor and jokes do not work and there aren’t many reasons to make us laugh. LY
                    is a tool which delivers the benefits of laughter on command and demand without relying on
                    outside reasons and conditions of life.</p>
            </div>
        </div>
    </div>
    <section class="shop section section-height-2 border-0 m-0">
        <div class="container">
            <div class="products row row-gutter-sm mb-1 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="750">
                <div class="col-lg-6">
                    <h1>How does it work?</h1>
                    <p>The concept of Laughter Yoga is based on scientific studies which has proved that the body
                        cannot differentiate between intentional/voluntary and real laughter. One gets the same
                        physiological and psychological benefits.</p>
                    <ul>
                        <li><strong>Learn the Art of Laughing for No Reason:</strong> Anyone can laugh for no reason
                            without relying on humor, jokes or comedy and one can feel the benefits on the very
                            first session! It’s easy.
                        </li>
                        <li><strong>Real and Contagious Laughter:</strong> We initiate laughter as a body exercise
                            in a group and with eye contact and childlike playfulness, it quickly turns into real
                            and contagious laughter.
                        </li>
                        <li><strong>Science of Breathing:</strong> According to the yogic concept of breathing, your
                            exhalation should be longer than your inhalation so that you can get rid of stale air
                            from your lungs. Laughter as a form of exercise is a great way to exhale longer.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mb-1 pb-1">
                    <img src="{% static 'img/pages/about/aly/aly-02.webp' %}" width="100%" alt="The concept of Laughter Yoga is based on scientific studies"/>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-3 my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-4 pb-2">
                <iframe title="Laughter Yoga Benefits with Jeffrey Briar, Laguna Beach Laughter Club, California, USA" width="560" height="315" src="https://www.youtube.com/embed/VCPACYIYqbI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-lg-6">
                <h1>What People Say About Laughter Yoga?</h1>
                <p>Clinical research conducted in India and the United States has proven that laughter lowers
                    blood pressure and levels of stress hormones (epinephrine and cortisol).</p>
            </div>
        </div>
    </div>

    <section class="shop section section-height-2 border-0 m-0">
        <div class="container">
            <div class="products row row-gutter-sm mb-1 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="750">
                <div class="col-lg-6">
                    <h1>5 Benefits of Laughter Yoga</h1>
                    <ul>
                        <li><strong>Good Mood and More Laughter:</strong> LY helps to change your mood within
                            minutes by releasing endorphins from your brain cells. You’ll remain cheerful, in a good
                            mood throughout the day and find yourself laughing more than you normally do.
                        </li>
                        <li><strong>Healthy Exercise to Beat Stress:</strong> LY is like an aerobic exercise (cardio
                            workout) which increases your heart rate, blood circulation thereby relaxing your
                            muscles.
                        </li>
                        <li><strong>Health Benefits:</strong> LY reduces stress and strengthens the immune system.
                            You will not fall sick easily and if you have a chronic health condition, you will heal
                            faster.
                        </li>
                        <li><strong>Social Connection:</strong> The quality of our life depends upon the quality of
                            our relationship. Laughter is a great connector of people and brings quality caring and
                            sharing amongst friends
                        </li>
                        <li><strong>Positive Attitude in Challenging Times:</strong> Everyone can laugh when life is
                            good, but how does one laugh when faced with challenges? Laughter helps to create a
                            positive mental attitude to deal with negative situations and people. It gives hope and
                            optimism to cope with difficult times.
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 mb-1 pb-1">
                    <img src="{% static 'img/pages/about/aly/aly-03.webp' %}" width="100%" alt="5 Benefits of Laughter Yoga"/>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-3 my-5">
        <div class="row justify-content-center">
            <div class="col-xl-6 text-center">
                <a href="{% url 'basic-learning-course' %}" target="_parent">
                    <img src="{% static 'img/extra/online-coaching.webp' %}" class="img-fluid" alt="Basic Learning Course" />
                </a>
                <div class="col-xl-6 mt-2 mx-auto">
                    <button class="btn btn-primary">
                        <a class="text-light text-decoration-none" href="{% url 'basic-learning-course' %}" target="_parent">
                            Learn More
                        </a>
                    </button>
                </div>
            </div>
            <div class="col-xl-6">
                <a href="{% url 'zoom-laughter-club' %}" target="_blank">
                    <img src="{% static 'img/extra/zoom-laughter-yoga.webp' %}" class="img-fluid" alt="Zoom Laughter Club" />
                </a>
                <div class="col-lg-6 mt-2 mx-auto">
                    <button class="btn btn-primary">
                        <a class="text-light text-decoration-none" href="{% url 'zoom-laughter-club' %}" target="_blank">
                            Learn More
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <section class="section border-0 m-0">
        <div class="container pt-5">
            <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                 data-appear-animation-delay="750">
                <div class="col-lg-12 mb-1 pb-2" style="background-image: url('{% static 'img/extra/about-ly-bg.webp' %}'); height: 340px;">
                    <h1 style="position: absolute; top: 20px; right:100px; text-align:center;">
                        <span style="color: #193d89;">Download Free eBook by Dr. Kataria (126 Pages)</span><br/>
                        <span style="color:#0063b3;">& Subscribe Happiness Newsletter</span>
                    </h1>
                    <form action="{% url 'download-info-booklet' %}" method="post" class="needs-validation" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col-lg-4" style="position: absolute; top: 120px; right:180px; text-align:center;">
                                <input class="form-control" type="text" name="name" placeholder="Full Name" required>
                            </div>
                            <div class="col-lg-4" style="position: absolute; top: 160px; right:180px; text-align:center;">
                                <input class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-lg-4" style="position: absolute; top: 200px; right:180px; text-align:center;">
                                <input class="form-control" type="text" name="country" placeholder="Country Name" required>
                            </div>
                            <div class="form-group col-lg-3" style="position: absolute; top: 260px; right:230px; text-align:center;">
                                <button type="submit" class="btn btn-success btn-modern">Download</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}