{% extends 'front/base.html' %}
{% load static %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frequently Asked Questions - Laughter Yoga International</title>
    <meta name="keywords" content="frequently asked questions, faq"/>
    <meta name="description" content="Frequently Asked Questions">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">Frequently Asked Questions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-4">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="font-weight-normal text-5 mb-3 pb-3">Account <strong class="font-weight-extra-bold">Questions</strong>
                </h2>
                <div class="toggle toggle-primary m-0" data-plugin-toggle>
                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to update your Profile Page?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>Please click on login on the top menu and provide your login credentials i.e Email
                                    and Password.
                                </li>
                                <li>This will redirect you to the dashboard, where you can click on the “Edit My
                                    Profile”.
                                </li>
                                <li>This will take you to fill up the form and submit your details. Don’t forget to
                                    upload your profile picture.
                                </li>
                                <li>After updating your profile page info, you can check your profile page from the Home
                                    >> Finders >> Find LY Professionals.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to publish and manage Trainings?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>Login by using email and password. This will take you to the ‘dashboard’.</li>
                                <li>Please click on “Submit Training” from the dashboard.</li>
                                <li>Fill up the form and submit.</li>
                                <li>After submitting the training info, you can check your training page from the Home
                                    >> Finders >> Find Trainings worldwide.
                                </li>
                                <li>You can change the details of your published trainings from Dashboard >> Manage
                                    Trainings.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to publish and manage all type of
                            Events?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>Login by using email and password. This will take you to the ‘dashboard’.</li>
                                <li>Please click on “Submit Events ” from the dashboard.</li>
                                <li>Fill up the form and submit.</li>
                                <li>After submitting the event info, you can check your event from the Home >> Finders
                                    >> Find Events Worldwide.
                                </li>
                                <li>You can change the details of your published events from Dashboard >> Manage
                                    Events.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to publish and manage Laughter Club?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>Login by using email and password. This will take you to the ‘dashboard’.</li>
                                <li>Please click on “Submit Laughter Club ” from the dashboard.</li>
                                <li>Fill up the form and submit.</li>
                                <li>After submitting the laughter club info, you can check your Laughter club from the
                                    Home >> Finders >> Find Laughter Clubs.
                                </li>
                                <li>You can change the details of your published laughter clubs from Dashboard >> Manage
                                    Laughter Clubs.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to register newly Certified Leaders?</a>
                        <div class="toggle-content py-3">
                            <p>Teachers and master trainers can register their new leaders</p>
                            <ul>
                                <li>Login by using email and password. This will take you to the ‘dashboard’.</li>
                                <li>Please click on “Register New Leaders” from the dashboard.</li>
                                <li>Fill up the form and make payment.</li>
                                <li>After the payment you will get a link which you can copy and send it your leaders
                                    who can directly register and make their profile page. They will automatically get 6
                                    months prozone membership.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to register newly Certified Teachers?</a>
                        <div class="toggle-content py-3">
                            <p>Master trainers can register their new teachers.</p>
                            <ul>
                                <li>Login by using email and password. This will take you to the ‘dashboard’.</li>
                                <li>Please click on “Register New Teachers” from the dashboard.</li>
                                <li>Fill up the form and make payment.</li>
                                <li>After the payment you will get a link which you can copy and send it to your
                                    trainers
                                    who can directly upgrade their designation. They will automatically get 12
                                    months prozone membership.
                                </li>
                                <li><span class="text-danger font-weight-bold">Note:</span> You need to use your
                                    registered email address only. Otherwise, it won't work.
                                </li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to change your account password?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>We have temporarily given you this password which you can change after
                                    login.
                                </li>
                                <li>Please select “Change Password” from the dashboard.</li>
                                <li>Type your desired password and click on “save”.</li>
                            </ul>
                        </div>
                    </section>

                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="font-weight-normal text-5 mb-3 pb-3">Membership <strong class="font-weight-extra-bold">Questions</strong>
                </h2>
                <div class="toggle toggle-primary m-0" data-plugin-toggle>
                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to check your prozone membership?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>Please login to your account using user id and password, which will redirect to
                                    'Dashboard'.
                                </li>
                                <li>On the left-hand side, you will see the membership period.</li>
                                <li>If your membership had expired then you will see our membership plans.</li>
                            </ul>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">Can i subscribe to prozone membership without
                            login?</a>
                        <div class="toggle-content py-3">
                            <p>No. You can't sign up using frontend of our website. You need to login to our website,
                                thereafter go to Membership and subscribe to any one of them.</p>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">Can i subscribe to more than one membership at
                            a time?</a>
                        <div class="toggle-content py-3">
                            <p>Yes you can. But we won't suggest you to subscribe to our prozone membership with an
                                existing plan. Because there is no benefit of having multiple memberships in your
                                account at a time.</p>
                        </div>
                    </section>

                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to cancel Prozone Membership?</a>
                        <div class="toggle-content py-3">
                            <p>No. You can't cancel your membership. If you don't want to use them, then we can deactivate the membership, but we won't refund anything.</p>
                        </div>
                    </section>

                </div>
            </div>
        </div>

        <div class="row py-4">
            <div class="col-lg-6">
                <h2 class="font-weight-normal text-5 mb-3 pb-3">General <strong class="font-weight-extra-bold">Questions</strong>
                </h2>
                <div class="toggle toggle-primary m-0" data-plugin-toggle>
                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">How to recover lost password?</a>
                        <div class="toggle-content py-3">
                            <ul>
                                <li>First of all go to the Login Page.</li>
                                <li>On that page, you will find lost password link.</li>
                                <li>Please click on that link. Thereafter, it will ask you to enter your email address.</li>
                                <li>After clicking "Submit" button, you will receive one email with password change process.</li>
                                <li>Click on that link to create and update your new password.</li>
                            </ul>
                        </div>
                    </section>
                    <section class="toggle">
                        <a class="toggle-title pl-3 text-decoration-none">What type of image files we can upload?</a>
                        <div class="toggle-content py-3 pl-1">
                            <p>You can upload .JPG, .jpg, .PNG, .png, .JPEG, .jpeg file extensions.</p>
                        </div>
                    </section>
                </div>
            </div>
            <div class="col-lg-6"></div>
        </div>
    </div>
</div>
{% endblock %}