{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block content %}

<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/scientific-research.jpg' %}" />
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="540" height="315" src="https://www.youtube.com/embed/q9MmSFZ0qSw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h1>What is Laughter Yoga & How can it help you?</h1>
                        <p>Everyone wants health and happiness in their lives.  But instead they are getting stressed out, depressed, getting less sleep, more negative thoughts and feeling isolated. Does this sound like you? Are you someone who wants to move on and bring more laughter and joy into your life? You are in the right place. Laughter Yoga is the answer. Laughter Yoga is a revolutionary idea – simple and profound. An exercise routine, it is sweeping the world and is a complete well-being workout. Developed by a medical doctor from India Dr. Madan Kataria and it has spread across 100 countries.</p>

						<ul>
							<li>You can laugh with special guided techniques: It’s easy. Anyone can laugh for no reason without relying on humor, jokes or comedy and one can feel the benefits on the very first session!</li>
							<li>Real and Contagious Laughter: We initiate laughter as a body exercise in a group and with eye contact and childlike playfulness. It soon turns into real and contagious laughter.</li>
							<li>Oxygenates Your Body and Brain: Laughter Yoga is combination of deep breathing exercises from yoga and laughter exercises, which oxygenates our body and brain, makes us feel more healthy and energetic.</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>
        <section class="shop section section-height-4 border-0 m-0">
            <div class="container">
                <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
                    <div class="col-lg-6">
                        <h1>Scientifically Proven Benefits</h1>
                        <p>The concept of Laughter Yoga is based on a scientific fact that the body cannot differentiate between fake and real laughter. One gets the same physiological and psychological benefits. Clinical research conducted at Bangalore, India and in the United States has proved that Laughter lowers the level of stress hormones (epinephrine, cortisol, etc) in the blood.</p>
						<ul>
							<li>You can laugh with special guided techniques: It’s easy. Anyone can laugh for no reason without relying on humor, jokes or comedy and one can feel the benefits on the very first session!</li>
							<li>Real and Contagious Laughter: We initiate laughter as a body exercise in a group and with eye contact and childlike playfulness. It soon turns into real and contagious laughter.</li>
							<li>Oxygenates Your Body and Brain: Laughter Yoga is combination of deep breathing exercises from yoga and laughter exercises, which oxygenates our body and brain, makes us feel more healthy and energetic.</li>
						</ul>
                    </div>
					<div class="col-lg-6 mb-4 pb-2">
						<img src="https://corporate.laughteryoga.org/wp-content/uploads/2020/10/CORTISOL-STRESS.jpg" width="500"/>
					</div>
                </div>
            </div>
        </section>

        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="540" height="315" src="https://www.youtube.com/embed/q9MmSFZ0qSw" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h1>5 Benefits of Laughter Yoga</h1>
						<ul>
							<li>Good Mood and More Laughter: Laughter Yoga helps to change your mood within minutes by releasing certain chemicals from your brain cells called endorphins. You will remain cheerful and in a good mood throughout the day and will laugh more than you normally do.</li>
							<li>Healthy Exercise to Beat Stress: Laughter Yoga is like an aerobic exercise (cardio workout) which brings more oxygen to the body and brain thereby making one feel more energetic and relaxed.</li>
							<li>Health Benefits: Laughter Yoga reduces the stress and strengthens the immune system.You will not fall sick easily and if you have some chronic health conditions, you will heal faster.</li>
							<li>Quality of Life: Laughter is a positive energy which helps people to connect with other people quickly and improves relationships. If you laugh more, you will attract many friends.</li>
							<li>Positive Attitude in Challenging Times : Everyone can laugh when life is good, but how does one laugh when faced with challenges? Laughter helps to create a positive mental state to deal with negative situations and negative people. It gives hope and optimism to cope with difficult times.</li>
						</ul>
                    </div>
                </div>
            </div>
        </div>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="750">
                    <div class="col-lg-6">
                        <h1>A Life-Changing Experience</h1>
                        <p>In addition to social laughter clubs, Laughter Yoga is also practiced in companies and corporations, Fitness centers, Yoga studios, Centers for Seniors, Schools, Colleges, Universities, Physically and mentally challenged and Self help cancer groups – bringing happiness to all the places.</p>
                    </div>
					<div class="col-lg-6 mb-4 pb-2">
						<iframe width="540" height="315" src="https://www.youtube.com/embed/VCPACYIYqbI" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
					</div>
                </div>
            </div>
        </section>
    </div>
</div>

{% endblock %}