{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laughter Yoga in Depression - Laughter Yoga International</title>
    <meta name="keywords" content="stress, depression, chronic illnesses, antidepressant, serotonin and dopamine"/>
    <meta name="description" content="Depression is a serious medical illness and it is like a pandemic as you can see that 264 million people of all ages suffer from depression and 80,000 people die each year from depression.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/depression.jpg' %}"/>
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/jrxMMb2Fojo"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <h1>Laughter Yoga for Depression</h1>
                    <p>Depression is a serious medical illness and it is like a pandemic as you can see that 264
                        million people of all ages suffer from depression and 80,000 people die each year from
                        depression and many of them commit suicide. There is a deficiency of neurotransmitters
                        in the brain called serotonin and dopamine. These are the hormones which help the
                        communication between the neurons.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Causes and Treatments of Depression</h1>
                        <p>There are many types of depression with the most common type is where there is some
                            incidental cause such as loss of love, bad relationships, financial crisis, unemployment,
                            death, unfulfilled desires and goals, academic failure, life threatening chronic illnesses.
                            Loneliness and isolation in elderly people is the major contributor to depression. Other
                            types of depression are Bipolar Disorder, Seasonal Affective Disorder (SAD), Menopausal
                            depression. Endogenous depression which is due to a deficiency of chemicals in the brain
                            with no external cause.</p>
                        <p>The mainstay of treatment is antidepressant drugs (selective serotonin reuptake inhibitors
                            SSRIs) which will increase the amount of serotonin in the brain. The main problem with
                            depression is the symptoms keep on recurring despite taking medication. It is supported by
                            psychotherapy and lifestyle changes. Chemical treatment is not a very effective treatment
                            for depression, the real treatment is a change in the lifestyle and improving the
                            environment.</p>
                        <p>The most common symptoms of depression are sadness, spells of crying, loss of sleep and
                            appetite, hopelessness and helplessness, suicidal tendencies.</p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/5MAo4XzDhvY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/-0SZYra7Do0"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </p>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>Scientific Studies</h1>
                    <p>Scientific studies have shown that there is an increase in serotonin and dopamine with
                        laughter yoga. Endorphin adds to stabilize their mood states.</p>
                    <p>Laughter Yoga is a powerful antidepressant. Depressed people never laugh and if you keep
                        laughing regularly you are less likely to be depressed. Laughter Yoga has helped tens of
                        thousands of people to overcome severe depression all over the world. This means that anyone
                        can laugh, regardless of their state of mind and cognitive ability. It’s not unusual for
                        people who have suffered long-term depression to recover through laughter, even after years
                        of antidepressants.</p>
                    <p>Since people get depressed because of isolation and loneliness, LY provides a rich network of
                        caring-sharing relationships with people and builds communities. Since laughter is a
                        universal language, you can connect with people from all around the world irrespective of
                        language, culture and country.</p>
                    <p>Since LY is getting popular online, you can laugh with people from around the world and feel
                        connected to them like an extended family.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Dr Suhayl Nasr, Professor of Psychiatry Indiana University, USA</h1>
                        <p>“I'm a Professor of Psychiatry at Indiana University and have been treating Tanaz Bambot who
                            suffered from Bipolar Depression for many years. In the normal course, there is recurrence
                            of symptoms at least 6 times a year. Ever since Tanaz has been doing Laughter Yoga, she has
                            not even had one episode over the past 10 years.</p>
                        <p>The major hormones involved in depression are serotonin and dopamine which are the mood
                            hormones. There is a deficiency of these hormones in depression. Laughter Yoga triggers the
                            release of these hormones in the amygdala and nucleus accumbens in the brain. In addition,
                            the release of endorphins and oxytocin in the brain also helps people to improve their mood
                            state and alleviate depression.</p>
                        <p>Repeated practise of LY may increase the new circuits of communication between amygdala,
                            nucleus accumbens and prefrontal cortex thereby contributing to the increase in
                            neuroplasticity.”</p>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/fotAK9OM5Uc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fC4wQXUDEMA"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                    </p>
                </div>
                <div class="col-lg-6">
                    <h1>Dianne Theil McNinch (USA)</h1>
                    <p> “In 2007, I was officially diagnosed with Clinical Depression. Over time, my condition
                        became severe and I was spending over $400 on medication each month. I heard of Laughter
                        Yoga on the Oprah Winfrey Show many years ago and it seemed delightful. I googled Laughter
                        Yoga in my area and joined the training with Dr Madan Kataria in California. Two months
                        after my first LY experience, I had amazingly decreased the use of my medication by almost
                        80%! Today, I am completely free of all medication. I sleep better than I ever have in 11
                        years and people tell me I look younger day by day! My life has undergone a remarkable
                        change. Thank you Laughter Yoga!!!”</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Scientific Research on Effect of Laughter Yoga on Depression</h1>
                        <ul>
                            <li>German Study</li>
                            <li>Iranian Study</li>
                            <li>Japanese Study</li>
                            <li>Slovenian Study</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <p>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/fotAK9OM5Uc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <p>
                        <img src="{% static 'img/pages/depression.jpg' %}" class="img-fluid" alt="Get Involved" />
                    </p>
                </div>
                <div class="col-lg-6">
                    <h1>Get Involved</h1>
                    <ul>
                        <li>To find a Laughter Club in your area <a href="{% url 'find-club' %}" target="_parent">click here</a>.</li>
                        <li>Join International Laughter Club on Zoom <a href="{% url 'zoom-laughter-club' %}" target="_parent">click here</a>.</li>
                        <li>Would you like to join LY training online? <a href="https://coaching.laughteryoga.org" target="_blank">click here</a>.</li>
                        <li>Buy resources: ebooks, audio/video downloads <a href="https://shop.laughteryoga.org" target="_blank">click here</a>.</li>
                    </ul>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container py-3 my-5">
                <div class="row justify-content-center">
                    <div class="col-xl-6 text-center">
                        <a href="{% url 'basic-learning-course' %}" target="_parent">
                            <img src="{% static 'img/extra/online-coaching.webp' %}" class="img-fluid" alt="Basic Learning Course" />
                        </a>
                        <div class="col-xl-6 mt-2 mx-auto">
                            <button class="btn btn-primary">
                                <a class="text-light text-decoration-none" href="{% url 'basic-learning-course' %}" target="_parent">
                                    Learn More
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <a href="{% url 'zoom-laughter-club' %}" target="_blank">
                            <img src="{% static 'img/extra/zoom-laughter-yoga.webp' %}" class="img-fluid" alt="Zoom Laughter Club" />
                        </a>
                        <div class="col-lg-6 mt-2 mx-auto">
                            <button class="btn btn-primary">
                                <a class="text-light text-decoration-none" href="{% url 'zoom-laughter-club' %}" target="_blank">
                                    Learn More
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}