{% extends 'front/promotion-base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Laughter Yoga Events in Delhi - Laughter Yoga International</title>
<meta name="keywords" content="Mental Health, laughter yoga, health benefits, Stress Booster"/>
<meta name="description" content="Laughter Yoga is a powerful tool for POSITIVE MENTAL HEALTH. It is an instant STRESS BUSTER and can reduce physical mental and emotional stress.">
<meta name="author" content="Dr Madan Kataria">


{% endblock %}
{% block content %}
<div class="body">
    <div role="main" class="main">
        <section class="shop section coaching section-height-2 border-0 m-0">
            <div class="container">
                <div class="mx-5 px-5">
                    <div class="text-center pb-5">
                        <p class="h2">Learn The Fool-Proof Facebook & Instagram Ads Strategies That Are Guaranteed To
                            Give You High Quality Leads & 7x Sales. </p>
                        <p>Congrats! You are just one step away from Mastering your Money & Finance</p>
                        <p>
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/AcGS7ODfEi8"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    class="rounded" allowfullscreen></iframe>
                        </p>
                        <div class="row justify-content-center">
                            <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                                    Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                                    2000</strike></small>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center text-light pb-5">
                        <div class="col-lg-6">
                            <ul>
                                <li>No Prior Marketing or Facebook & Instagram Ads Knowledge required</li>
                                <li>Learn how to create Facebook & Instagram Ads that convert more for any business</li>
                                <li>Take your business offline to online quickly & get customers from all around the
                                    world
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li>Increase your E-Commerce store ROI by 7x with proven ad strategies</li>
                                <li>Generate high-quality & convertible leads for B2B & B2C business at Scale</li>
                                <li>Get mentored by a Facebook & Instagram Ads Expert who has managed more than INR 12
                                    Cr in Ad spend
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row bg-color-light py-4 rounded">
                        <div class="col-3">
                            <p class="h3 text-dark text-center">08<sup>th</sup> Oct, 2022</p>
                            <p class="mb-0 text-dark text-center">Date</p>
                        </div>
                        <div class="col-3">
                            <p class="h3 text-dark text-center">7 PM Onwards</p>
                            <p class="mb-0 text-dark text-center">Time</p>
                        </div>
                        <div class="col-3">
                            <p class="h3 text-dark text-center">Bonuses</p>
                            <p class="mb-0 text-dark text-center">Worth Rs 19,000 for FREE</p>
                        </div>
                        <div class="col-3">
                            <p class="h3 text-dark text-center">3,500+</p>
                            <p class="mb-0 text-dark text-center">Attended</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="text-center pt-5 pb-4">
                    <h2>More than 3500 individuals have called it the best way to learn Facebook & Instagram Ads</h2>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row align-items-center justify-content-center pb-4">
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="text-center pt-4 pb-2">
                    <h2>Learn how to generate results like these for Any Business</h2>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row align-items-center justify-content-center pb-4">
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <img src="{% static 'img/dashboard/access-prozone.jpg' %}" class="img-fluid"/>
                        </div>
                        <div class="col-lg-6">
                            <img src="{% static 'img/dashboard/change-password.jpg' %}" class="img-fluid"/>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="text-center pt-4 pb-2">
                    <p><span class="h3">Register before midnight of 24 Sep 2022</span><br> To Unlock All Bonuses worth
                        Rs 19,000</p>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row mb-5 pb-3">
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible pb-4"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 appear-animation animated fadeInUpShorter appear-animation-visible"
                         data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600"
                         style="animation-delay: 600ms;">
                        <div class="card border-0 bg-color-grey">
                            <div class="card-body">
                                <h4 class="card-title mt-2 mb-1 text-4 font-weight-bold">Card Title</h4>
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
                                    rhoncus nulla dui, in dapi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="text-center pt-4 pb-2">
                    <p class="h3">Become a Certified Facebook Ads Expert</p>
                    <p>Yes! You will be certified by a
                        <mark>Skill Nation</mark>
                        which brings a lot of credibility to your certificate & your resume.
                    </p>
                </div>
                <p class="text-center"><img src="{% static 'img/pages/blc/blc-certificate.jpg' %}" class="img-fluid"/>
                </p>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row align-items-center justify-content-center pb-4">
                    <div class="row pb-1 mx-5 px-5">
                        <div class="col-lg-4 mb-2 pb-2">
                            <img src="{% static 'img/pages/dr-madan-kataria.jpg' %}" class="img-fluid rounded"/>
                        </div>
                        <div class="col-lg-8">
                            <h2>Know your mentor</h2>
                            <p>Hi, I am Navin Parmar, a Facebook & Instagram Ads Expert & your Facebook & Instagram Ads
                                trainer, I help business owners, coaches, consultants and digital marketing enthusiasts
                                run highly profitable Facebook & Instagram Ads campaigns</p>
                            <p> As a Facebook & Instagram Ads Expert, I have worked with multiple brands in the United
                                Kingdom, India, Ireland & USA.</p>
                            <p>After Managing over INR 12 Crore in Facebook & Instagram Ads Spend for my startup and
                                clients. I look forward to sharing my Facebook & Instagram Ads knowledge & experience
                                with you.</p>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container">
                <div class="text-center pt-4 pb-3">
                    <p class="h3">Frequently Asked Questions</p>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row pb-4 justify-content-center">
                    <div class="col-lg-8 mb-4 mb-lg-0">
                        <div class="accordion accordion-modern without-bg" id="accordion11">
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse1" aria-expanded="false">
                                            When is the Masterclass?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse1" class="collapse" style="">
                                    <div class="card-body">
                                        <p class="mb-0">Masterclass is on Saturday, 08th Oct at 7 PM</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse2" aria-expanded="false">
                                            Are there any pre-requisites to attend this masterclass?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse2" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">There is no prerequisite to attend the masterclass. I will be
                                            teaching everything from scratch and so, you can attend this
                                            masterclass!</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse3" aria-expanded="false">
                                            Will this be live or pre-recorded?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse3" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">It is a completely LIVE Workshop</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse4" aria-expanded="false">
                                            I've never run Facebook & Instagram Ads. Am I eligible for this masterclass?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse4" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">Absolutely! This Masterclass begins from basics and will teach you everything from the beginning and scale to advanced strategies and framework.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse5" aria-expanded="false">
                                            Do you get notes & assignments to practice?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse5" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">Absolutely. It is a completely hands-on Masterclass where you will also get notes, reference material & assignments for your future reference.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse6" aria-expanded="false">
                                            Is the Masterclass Certified?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse6" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">Yes! You will be certified by Facebook Ads Expert.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse7" aria-expanded="false">
                                             Will it be recorded?
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse7" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">No, it won’t be recorded.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default">
                                <div class="card-header">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion11" href="#collapse8" aria-expanded="false">
                                             I made the payment but didn’t receive any email
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapse8" class="collapse">
                                    <div class="card-body">
                                        <p class="mb-0">Please write to us at support@navinparmar.in & our awesome support team will get back to you as soon as possible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-modern btn-warning mb-2 text-dark">
                            Become a Facebook & Instagram Expert Now <br><small>Only Rs 299 <strike>Rs
                            2000</strike></small>
                        </button>
                    </div>
                </div>
                <p class="text-center font-weight-bold">Register before <span
                        class="text-warning">September 25, 2022</span> to unlock bonuses worth <span
                        class="text-warning">Rs 19,000</span></p>
            </div>
        </section>
    </div>
</div>
<script src="{% static 'vendor/payment/stripe/stripe.js' %}"></script>
{% endblock %}
