{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laughter Yoga in Business - Laughter Yoga International</title>
    <meta name="keywords" content="team building, peak performance, stress, emotions"/>
    <meta name="description" content="Laughter combines breathing and laughter exercises which oxygenate the body and brain and make one feel more healthy and energetic.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/corporate.jpg' %}"/>
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>About Laughter Yoga in Business</h1>
                        <p>You are going to laugh like you have never laughed before. Laughter Yoga is a global
                            phenomenon developed by Indian physician Dr Madan Kataria in 1995, which is now being
                            practiced in over 100 countries. It combines breathing and laughter exercises which
                            oxygenate the body and brain and make one feel more healthy and energetic. </p>
                        <p>The concept is based on the scientific fact that the body does not know the difference
                            between real and simulated laughter. One gets the same physiological and psychological
                            benefits.</p>
                </div>
                <div class="col-xl-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-pIltppUUkc" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <section class="section border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="750">
                    <div class="col-lg-6 mb-4 pb-2">
                        <p><img src="{% static 'img/pages/business/business-img-1.jpg' %}" class="img-fluid" alt="Why Laughter Yoga in Business"/></p>
                    </div>
                    <div class="col-lg-6">
                        <h1>Why Laughter Yoga in Business?</h1>
                        <p>In this high tension, pressure and competitive business world, people are facing enormous
                            amounts of stress and it is costing them millions of lost revenue. Laughter Yoga is a cost
                            effective, scientifically proven method of relieving stress. It’s so simple anyone can do
                            it.</p>
                        <p>Laughter Yoga is a great exercise for team building, peak performance, enhance creativity and
                            employee wellbeing.</p>
                        <p>BBC and Google Offices are using it, Oprah Winfrey has tried and said it works, British actor
                            John Cleese endorses it. This innovative concept has been widely accepted all over the world
                            and has been written about in prestigious publications like TIME Magazine, The New Yorker,
                            National Geographic, Wall Street Journal, Daily Telegraph and many others.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>5 Compelling Reasons To Bring Laughter Yoga To Your Business</h1>
                    <p><strong>Quickest way to Reduce Stress:</strong> Though there are many ways to reduce stress,
                        Laughter Yoga is the quickest and you can feel the benefits from the very first session.</p>
                    <p><strong>Healthy Exercise for Busy People:</strong> Business people are busy people and don’t
                        have time to exercise. There’s an easy way out: hearty laughter for 10 minutes gives you the
                        same health benefits as running for 30 minutes (Stanford Research).</p>
                    <p><strong>Peak Performance:</strong> Your brain needs 25% more oxygen for optimal performance.
                        Laughter and breathing exercises increase the supply of oxygen to the brain. Laughter can
                        change your mood within minutes by releasing endorphins from your brain cells and if your
                        mood is good you can do everything well.</p>
                    <p><strong>Team Building:</strong> People who laugh together work together.’ Laughter Yoga is a
                        powerful tool that connects people with each other. It helps to develop a positive mental
                        attitude, enhances communication skills for team building.</p>
                    <p><strong>Innovation And Creativity:</strong> In this highly competitive market, companies with
                        new ideas and concepts will stay ahead. Laughter Yoga is a great tool for innovation and
                        creativity as it stimulates the right brain which is the seat of creativity.</p>
                </div>
                <div class="col-xl-6">
                    <p><img src="{% static 'img/pages/business/business-img-2.jpg' %}" class="img-fluid" alt="5 Compelling Reasons To Bring Laughter Yoga To Your Business Image 1" /></p>
                    <p><img src="{% static 'img/pages/business/business-img-3.jpg' %}" class="img-fluid" alt="5 Compelling Reasons To Bring Laughter Yoga To Your Business Image 2" /></p>
                </div>
            </div>
        </div>

        <section class="section border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="750">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/rFOrtWCgFDs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <p class="h3">LY Experiential Workshop (duration 60-90mins)</p>
                        <p><strong>Outlines and Take Home Value of the workshop</strong></p>
                        <ul>
                            <li>Understand the concept and philosophy behind laughing for no reason without humour,
                                jokes, comedies or outside circumstances.
                            </li>
                            <li>An Experiential laughter session for more than 30 minutes.</li>
                            <li>You will learn how to do LY exercises all by yourself at home and share it with your
                                family, friends and colleagues. This will help you to de-stress instantly.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="products row row-gutter-sm mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                     data-appear-animation-delay="750">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="100%" height="300px" src="https://www.youtube.com/embed/mVbCrH_Bako" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <p class="h3">Online laughter yoga Workshops by Dr. Madan Kataria</p>
                        <p>We are offering 45-60 minute online experiential workshops worldwide in order to save you time and money. </p>
                        <p>The first 15 minutes of the workshop will focus on the art of laughing without using jokes, humor, or comedy. It will also focus on the benefits of laughter yoga for businesspeople.</p>
                        <p>After this, you will enjoy 30 minutes of laughter yoga exercises. You will also learn ways of incorporating laughter yoga into your daily routine and how to share it with others.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <h1 class="text-center pb-2">Laughter Yoga Feedback</h1>
                <div class="row">
                    <div class="col-lg-4">
                        <img src="{% static 'img/pages/business/feedback/ly-feedback-1.jpeg' %}" alt="Accenture Feedback" class="img-fluid" />
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static 'img/pages/business/feedback/ly-feedback-2.jpeg' %}" alt="Stanford University Feedback" class="img-fluid" />
                    </div>
                    <div class="col-lg-4">
                        <img src="{% static 'img/pages/business/feedback/ly-feedback-3.jpeg' %}" alt="Danial H. Pink Feedback" class="img-fluid" />
                    </div>
                </div>
            </div>
        </section>

        <section class="section border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <h1 class="text-center pb-2">Scientifically Proven Benefits</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <img src="{% static 'img/pages/business/scientifically-proven-benefits-2.webp' %}" style="width:610px;" />
                    </div>
                    <div class="col-lg-6">
                        <p>Clinical research conducted at Bangalore, India and in the United States has proved that Laughter lowers the level of stress hormones (epinephrine, cortisol, etc) in the blood.</p>
                        <p>Another important 2007 study in the United States looked at the effects of Laughter Yoga on personal efficacy in the workplace.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <h1 class="text-center pb-2">Invite Dr Kataria As Speaker</h1>
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <p><img src="{% static 'img/pages/drk-new.webp' %}" style="width;250px; height:400px; float:left; background-color:#000000; margin-right:20px;" />Dr. Madan Kataria, a medical doctor from Mumbai, India popularly known
                            as the ‘Guru of Giggling’ (London Times), is the founder of Laughter Yoga
                            Clubs movement started in 1995.Spreading rapidly in USA, Canada,
                            Europe, Australia, the Middle East, South East Asia, this
                            new concept has been widely covered by prestigious publications like
                            the TIME magazine, National Geographic, and Wall Street Journal and
                            featured on CNN, BBC, US networks & the Oprah Winfrey Show.</p>
                        <p>Dr. Kataria is a keynote, motivational & inspirational speaker for
                            companies, corporations and organizations all over the world. He is also
                            a corporate consultant for holistic health, stress management, teambuilding,
                            leadership, peak performance and communication skills.</p>
                        <p>For More information:</p>
                        <p><strong>Email: <a href="mailto:help@laughteryoga.org" target="_blank">help@laughteryoga.org</a></strong><br><strong>Call/WhatsApp: <a href="tel:+918884567891" target="_blank">+91 (888) 456-7891</a></strong></p>
                    </div>
                    <div class="col-lg-6">
                        <form action="{% url 'business' %}" method="post" class="needs-validation" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row justify-content-center">
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="name" placeholder="Full Name"
                                           required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" name="email" placeholder="Email"
                                           required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="tel" name="contact" placeholder="Contact No" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="country" placeholder="Country Name" required>
                                </div>
                                <div class="col-lg-9 pt-2">
                                    <textarea class="form-control" type="text" name="message" placeholder="Message" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-success btn-modern">Request Now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p><img src="{% static 'img/pages/business/corporate-logo-collection.jpg' %}" alt="Corporate Logo Collection" style="border:1px solid #dedede; border-radius:10px; box-shadow: 5px 5px #ccc;" /></p>
            </div>
        </section>
    </div>
</div>

{% endblock %}
