{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LY in Schools and Colleges - Laughter Yoga International</title>
    <meta name="keywords" content="school children, emotional bonding, pressure, stress, physical stamina"/>
    <meta name="description" content="Researchers tell us that children laugh more than 300-400 times a day during play with their friends, but unfortunately it has all changed now.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/school.jpg' %}"/>
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="540" height="315" src="https://www.youtube.com/embed/6zS3BjVZ8V0" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h1>Laughter Yoga for School Children</h1>
                        <p>Researchers tell us that children laugh more than 300-400 times a day during play with their
                            friends, but unfortunately it has all changed now. Today, they are subjected to enormous
                            stress due to academic pressure. Play and physical activity is restricted, new stresses are
                            imposed, adult behavior is demanded at very early age, group play and child-to-child
                            interaction is being replaced with electronic games and remote communication devices.There
                            is a growing awareness of several benefits of laughter and many schools in India and other
                            parts of the world are incorporating laughter yoga as a part of curriculum.</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row pb-3 mb-2">
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Why Children Need To Laugh More Today</h1>
                        <p><strong>Academic Pressure:</strong> Children naturally express themselves through movement,
                            play and laughter. From an early age, they are faced with a highly competitive academic
                            environment which forces them to sit for extended hours. They are pressured by teachers and
                            parents to attain unrealistic goals which leads to serious stress that becomes detrimental
                            to their mental and physical health.</p>
                        <p><strong>Technology robs them from play:</strong> Technology is robbing children of their
                            childhood. Their natural instinct is to play and laugh but, instead they are spending hours
                            glued to their mobile phones, online games and computer screens. When children stop playing,
                            it blocks their source of laughter.</p>
                        <p><strong>Lack of emotional bonding:</strong> Separated parents and those working long hours
                            have forced children to spend more of their time alone. This results in a lack of emotional
                            bonding between them and children are not able to develop their emotional skills. </p>
                        <p><strong>Negative attitude towards laughter in schools:</strong> In schools, children are
                            programmed against laughter. Teachers ask children to stop laughing in the name of
                            discipline and at times they get punished for laughing. They are programmed that laughing is
                            not good, which is one of the reasons they lose their laughter when they grow up.</p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <p><img src="{% static 'img/pages/school/school-img-2.jpg' %}" width="550"/></p>
                        <p><img src="{% static 'img/pages/school/school-img-1.png' %}" width="550"/></p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-2 pb-2">
                        <p><img src="{% static 'img/pages/school/school-img-3.png' %}" width="550"/></p>
                        <p><img src="{% static 'img/pages/school/school-img-4.png' %}" width="550"/></p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Benefits of Laughter Yoga for school children</h1>
                        <p><strong>Developing emotional intelligence:</strong> Modern studies show children develop
                            emotional intelligence through laughter and play. Those who don’t play enough in their
                            childhood grow up emotionally unbalanced and find it difficult to maintain their
                            relationship with people. Laughter Yoga encourages children to physically play and express
                            themselves fully. Child-like playful behavior is the key to the development of emotional
                            intelligence.</p>
                        <p><strong>Increases academic performance:</strong> Our brain requires 25% more oxygen as
                            compared to other organs. Laughter exercises flushes the lungs of stale residual air
                            improving oxygenation. This helps in better concentration power, increases the learning
                            ability and helps to enhance academic performance.</p>
                        <p><strong>Improving concentration and attention span:</strong> Studies show a huge leap in
                            attention deficit hyperactivity disorder (ADHD). Children with this disorder are extremely
                            hyperactive and find it difficult to concentrate for even short periods. They act on impulse
                            and often appear to have no sense of danger. LY exercises help to reduce stress and anxiety
                            for children with ADHD. It helps them to improve their concentration and focus.</p>
                        <p><strong>Handling stress and boosting their immune system:</strong> Children often suffer from
                            frequent sore throats, tonsillitis and upper respiratory infections due to stress and weak
                            immunity. As they learn to laugh unconditionally, they become adept at handling pressure as
                            it boosts their immune system. Laughter Yoga also reduces absenteeism and sick leave.</p>
                        <p><strong>Builds physical stamina for sports:</strong> Builds physical stamina for sports.</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row pb-3 mb-2">
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Laughter Yoga as curriculum in your school</h1>
                        <p>With growing awareness of the several benefits of laughter, many schools are incorporating
                            Laughter Yoga as part of their curriculum. Several high school books have chapters on
                            Laughter Yoga. For example, the 10th standard Centre Board of Secondary Education (CBSE)
                            English course book (India, Middle East), Japanese high school book “Pow Pow” and the
                            Language course book at Cambridge University has a chapter on origins and benefits of
                            Laughter Yoga. </p>
                        <p>Do you want to introduce Laughter Yoga into your school? We’ve developed different Laughter
                            Yoga exercises for kindergarten through to 10th standard students. Laughter Yoga is a very
                            economical addition to any school or educational institution. Training costs are low and the
                            only major investment is time. Because Laughter Yoga is fun, it is welcomed and enjoyed by
                            students and staff.</p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <p><img src="{% static 'img/pages/school/school-img-5.jpg' %}" width="550"/></p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-2 pb-2">
                        <p><img src="{% static 'img/pages/school/school-img-6.png' %}" width="550"/></p>
                    </div>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>3 Models of Laughter Yoga Program for Schools</h1>
                    <p><strong>Assembly Session:</strong> Many schools in India and in other parts of the world have
                        incorporated a five minute Laughter Yoga session during their morning assembly. Since the number
                        of students is very large, the impact of laughter exercises is very profound. One can see a
                        significant change in the energy levels of children which lasts throughout the day.</p>
                    <p><strong>Laughter Yoga in a Classroom:</strong> School teachers can use laughter exercises for a
                        few minutes as an ice-breaker, either at the beginning or end of their periods. It can also be
                        introduced for 5 minutes before children go home. Parents reported that their children came home
                        laughing and smiling.</p>
                    <p><strong>Laughter Yoga Room:</strong> In India and Malaysia, we have set up dedicated Laughter
                        Yoga classrooms where we conduct 30 minute sessions inviting students from different grades. We
                        teach them the basics of Laughter Yoga methods, brain gym exercises as well as how to combine
                        singing, dancing and laughing in the classroom.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <h1 class="text-center pb-3">Want to incorporate LY in your school</h1>
                <div class="row">
                    <div class="col-lg-6">
                        <p><img src="{% static 'img/pages/school/school-img-5.jpg' %}" width="550"/></p>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-10">
                                <form action="{% url 'school-children' %}" method="post" class="needs-validation" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group row justify-content-center">
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" name="name" placeholder="Full Name"
                                                   required>
                                        </div>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="email" name="email" placeholder="Email"
                                                   required>
                                        </div>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="tel" name="contact" placeholder="Contact No" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" required>
                                        </div>
                                        <div class="col-lg-9">
                                            <input class="form-control" type="text" name="country" placeholder="Country Name" required>
                                        </div>
                                        <div class="col-lg-9 pt-2">
                                            <textarea class="form-control" type="text" name="message" placeholder="Message" rows="5" required></textarea>
                                        </div>
                                    </div>
                                    <div class="form-row justify-content-center">
                                        <div class="form-group">
                                            <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                                        </div>
                                    </div>
                                    <div class="form-group row justify-content-center">
                                        <div class="col-lg-6">
                                            <button type="submit" class="btn btn-success btn-modern">Enquire Now</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}