{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laughter Yoga for Seniors - Laughter Yoga International</title>
    <meta name="keywords" content="dementia and Alzheimer’s disease, older, community building, social bonding"/>
    <meta name="description" content="Laughter Yoga is a great tool for transformational aging and increased longevity. We have many research studies which measures the positive effects of LY for seniors">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/senior.jpg' %}"/>
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container my-5 pt-md-4 pt-xl-0">
            <div class="row align-items-center justify-content-center pb-4 mb-5">
                <div class="row pb-1">
                    <div class="col-lg-6 mb-4 pb-2">
                        <iframe width="540" height="315" src="https://www.youtube.com/embed/QeHbLfJeBME" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-lg-6">
                        <h1>Why Laughter yoga for seniors?</h1>
                        <p>“You don’t stop laughing because you grow old. You grow old because you stop laughing.” —
                            Michael Pritchard</p>
                        <p>Due to advances in medical science, life expectancy has increased and the elder population is
                            growing at an alarming rate worldwide. Their quality of life is deteriorating due to health
                            problems and loneliness. As younger members of the family move away, elderly people find
                            themselves alone. What they need is someone to talk to, and share their emotions with. LY
                            addresses all of the issues seniors face. First, it’s a great health building exercise and
                            second it brings people together like an extended family thereby improving the quality of
                            life.</p>
                        <p>Laughter Yoga gives elders a reason and purpose to live fully every day. This simple and easy
                            to do exercise routine is being practiced by people in their 70s, 80s and 90s! LY is a great
                            tool for transformational aging and increased longevity. We have many research studies which
                            measures the positive effects of LY for seniors.</p>
                    </div>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row align-items-center justify-content-center pb-4 mb-5">
                    <div class="row pb-1">
                        <div class="col-lg-6 mb-2 pb-2">
                            <p><img src="{% static 'img/pages/senior/seniors-img-2.jpg' %}" width="550" alt="Laughter Yoga Ideally suited for seniors" class="img-fluid"/></p>
                        </div>
                        <div class="col-lg-6 mb-2 pb-2">
                            <h1>Laughter Yoga Ideally suited for seniors</h1>
                            <p>With advancing age, older adults stop laughing due to dementia and Alzheimer’s disease.
                                Due
                                to decline in cognitive abilities, they are unable to comprehend humour and jokes.
                                Laughter
                                Yoga is ideally suited for seniors as it brings more laughter into their lives. As it is
                                a
                                physically oriented technique, LY is an ideal exercise program for seniors as they
                                receive
                                many health benefits without relying on their mental or cognitive abilities.</p>
                            <h1>Catch Them Young</h1>
                            <p>Seniors can be divided into 2 categories: Retired and still active. Assisted living. If
                                seniors start using LY early in their retirement, they will live a better quality of
                                life
                                for more years (and won’t end up in a nursing home early!) For those living in aged care
                                facilities, LY can help to stimulate physical and mental health.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-5">
            <div class="row">
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>Health Benefits</h1>
                    <p>As they grow older they develop age-related health problems such as high blood pressure,
                        diabetes, arthritis and many other chronic health conditions. This leads them to spend most
                        of their time visiting doctors and hospitals. LY facilitates healing by strengthening the
                        immune system, improving blood circulation, and increasing oxygen to the body’s cells. It
                        provides a powerful cardiovascular workout strengthening their muscles, especially for
                        seniors unable to move their bodies to do physical exercises.</p>
                    <h1>Supports Good Mental Health</h1>
                    <p>Many seniors suffer from depression, loneliness and frustration. As they lose their loved
                        ones and health, it becomes increasingly difficult to maintain a positive mental attitude.
                        LY changes a person’s biochemistry in a way that supports good mental health regardless of
                        circumstances.</p>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <p><img src="{% static 'img/pages/senior/seniors-img-3.jpg' %}" width="550" alt="Health Benefits" class="img-fluid" /></p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container my-5 pt-md-4 pt-xl-0">
                <div class="row align-items-center justify-content-center">
                    <div class="row">
                        <div class="col-lg-6">
                            <p><img src="{% static 'img/pages/senior/seniors-img-3.jpg' %}" width="550" alt="Social Bonding and Community Building" class="img-fluid" /></p>
                        </div>
                        <div class="col-lg-6">
                            <h1>Social Bonding and Community Building</h1>
                            <p>LY is fast developing close knit communities and extended families worldwide. As elders
                                are always seeking human contact and connection, LY provides an effective network of caring
                                and sharing relationships which is the key to a happy and healthy life which dissipates
                                loneliness. </p>
                            <p>LY encourages strong social bonding with friends, relatives, fellow residents at care
                                facilities, as well as caregivers and medical personnel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-xl-6 text-center">
                    <a href="{% url 'basic-learning-course' %}" target="_parent">
                        <img src="{% static 'img/extra/online-coaching.webp' %}" class="img-fluid" alt="Basic Learning Course" />
                    </a>
                    <div class="col-xl-6 mt-2 mx-auto">
                        <button class="btn btn-primary">
                            <a class="text-light text-decoration-none" href="{% url 'basic-learning-course' %}" target="_parent">
                                Learn More
                            </a>
                        </button>
                    </div>
                </div>
                <div class="col-xl-6">
                    <a href="{% url 'zoom-laughter-club' %}" target="_blank">
                        <img src="{% static 'img/extra/zoom-laughter-yoga.webp' %}" class="img-fluid" alt="Zoom Laughter Club" />
                    </a>
                    <div class="col-lg-6 mt-2 mx-auto">
                        <button class="btn btn-primary">
                            <a class="text-light text-decoration-none" href="{% url 'zoom-laughter-club' %}" target="_blank">
                                Learn More
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}