{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Laughter Yoga in Special Needs - Laughter Yoga International</title>
    <meta name="keywords" content="breathing, cerebral palsy, Multiple Sclerosis, Deaf and mute children, Prisoners, Police/Military, Paramilitary"/>
    <meta name="description" content="Laughter Yoga has the ability to elevate the mood state; it helps cope with physical and mental disability and provides relief from feelings of negativity.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/special-needs.jpg' %}"/>
    </div>
</div>
<div class="body">
    <div role="main" class="main">
        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-4 pb-2">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YbN9bt-E6Tg" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-6">
                    <h1>Laughter Yoga for Special Needs</h1>
                    <p>Living with a disability is a huge challenge and can be hard to deal with. It can lead to severe
                        mental trauma and stress. People are prone to negative feelings and emotions that undermines all
                        rationality and gives rise to a confusing mindset regarding one’s own image and capabilities.
                        One undergoes an all time low and sensations of self pity and self worthless set in. Laughter
                        Yoga has the ability to elevate the mood state; it helps cope with physical and mental
                        disability and provides relief from feelings of negativity. The group dynamics of Laughter Yoga
                        leads to more openness and enables people to share their grief. Exercises and deep breathing
                        relax the body and mind and help one to accept reality. Laughter Clubs are a safe haven for
                        people to release their inner feelings without fear and pain. Laughter catharsis is a great
                        technique for emotional release and balance.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row pb-3 mb-2">
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Laughter Yoga with Cerebral Palsy (CP)</h1>
                        <p>People with Cerebral Palsy experience different grades of paralysis and as a result, their
                            body movements are restricted with most of them in wheelchairs. In many CP centres, Laughter
                            Yoga is a part of the daily routine. Karen Kong (LY teacher) from Malaysia has been
                            conducting LY sessions with CP patients for many years and she has found that it has
                            improved their mental state and motor skills.</p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/mC7d3YrTf_s"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 pb-2">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/kY0cQOzQ5DM" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>Laughter Yoga with Multiple Sclerosis (MS)</h1>
                    <p>Multiple Sclerosis (MS) affects the ability of the nerve cells in the brain and the spinal
                        cord to communicate with each other. This is an autoimmune and currently there is no known
                        cure. However, laughter brings about positive changes and chemical reactions in the brain
                        that have potential benefits for people with MS. Studies have repeatedly found that laughter
                        has both physiological as well as psychological benefits. It not only makes them feel
                        better, it helps the body to heal.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row pb-3 mb-2">
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Laughter Yoga with the Blind</h1>
                        <p>Visually impaired people are also prone to depression and frustration. Laughter Yoga
                            exercises can help them overcome their negative mental state making them more positive
                            helping them deal with their issues. Blind people have an extraordinary talent for music and
                            combining this ability with laughter makes it an enjoyable experience. We have introduced
                            Laughter Yoga in many Schools for the blind including India, Japan and Taiwan with very
                            positive results.</p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/g8Pfa_YaOY8"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </section>

        <div class="container py-3 my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 pb-2">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/jvG4qnIPFGM" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>Deaf and Mute children</h1>
                    <p>Deaf and mute children can benefit from Laughter Yoga as it improves their speech and
                        communication skills. In India, we have implemented this program in Nashik, Bangalore and
                        Udaipur with excellent results. In these children the primary problem is hearing, which
                        impairs their speech also. With the help of their sign language teacher, it becomes easier
                        to conduct Laughter Yoga with children. Teachers reported that during Laughter Yoga sessions
                        the children were screaming with joy and that they had never heard the sound of laughter
                        before.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container">
                <div class="row pb-3 mb-2">
                    <div class="col-lg-6 mb-2 pb-2">
                        <h1>Laughter Yoga with Prisoners</h1>
                        <p><strong>After visiting the Laughter Clubs and Arthur Road Prison in Mumbai, famous British
                            Actor and
                            Comedian John Cleese said:</strong> “I’m struck by how laughter connects you with people.
                            It’s almost
                            impossible to maintain any kind of distance or any sense of social hierarchy when you’re
                            just howling with laughter. Laughter is a force for democracy”.</p>
                        <p><strong>Dr Kataria shares this story with us:</strong> Some years ago, famous English actor
                            John Cleese came to Mumbai, to make a BBC documentary titled ‘‘Human Face’’ and Laughter
                            Clubs of India were a part of that series. During his visit, I took him to Arthur Road
                            prison for a laughter session with the prisoners, which was a humbling experience. I
                            obtained permission from the police authorities to hold the session among the undertrials.
                            An hour before, I went to the overcrowded prison premises, to build a rapport with them. As
                            I explained the concept, about 70-80 prisoners opted to join the laughter session. I was not
                            too sure whether they would laugh or not, because they looked sad, angry and depressed. Some
                            of them had mask-like faces. After initial hesitation, they opened up and laughed
                            uproariously, as if all their anger had transformed into laughter. At the end of the
                            session, everybody seemed happy and asked when they would laugh like this again. <br/><br/>I
                            spoke to many prisoners after the session, and realized they harbored a lot of anger and
                            depression inside of them which needed to be removed, in order to prevent them from
                            committing further acts of crime once released from jail. Laughter Yoga is an ideal method,
                            which helps to resolve these long standing negative emotions in criminals, putting them into
                            a positive frame of mind. Introducing laughter in prisons worldwide will help not just the
                            prisoners but also the jail staff, warden and others who constantly live under pressure and
                            stress.</p>
                    </div>
                    <div class="col-lg-6 mb-2 pb-2">
                        <p>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/s3RRiHd2z8w"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                        <p>
                            <iframe width="100%" height="315" src="https://www.youtube.com/embed/HBTnxuWlV4g"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="container my-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 mb-2 pb-2">
                    <p>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/y-x-4Rmp9G8"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </p>
                </div>
                <div class="col-lg-6 mb-2 pb-2">
                    <h1>Laughter Yoga with Police/Military and Paramilitary</h1>
                    <p>With rising crime rates, police personnel are under tremendous stress. Laughter Yoga is a
                        great stress buster exercise with many police training centres in India including it in
                        their morning drill. We also introduced LY in a commando training centre in Bangalore where
                        they were subjected to very strenuous training. Soldiers felt more enthusiastic, energized
                        and stress free. Military training centres in the city of Bangalore are including LY
                        exercises in their morning program.</p>
                </div>
            </div>
        </div>

        <section class="shop section section-height-2 border-0 m-0">
            <div class="container my-3 pt-md-4 pt-xl-0">
                <h1 class="text-center pb-2">Want to bring laughter yoga to your organisation ?</h1>
                <div class="row">
                    <div class="col-lg-6">
                        {% include 'front/includes/messages.html' %}
                        <form action="{% url 'special-needs' %}" method="post" class="needs-validation"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group row justify-content-center">
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="name" placeholder="Full Name"
                                           required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="email" name="email" placeholder="Email"
                                           required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="tel" name="contact" placeholder="Contact No"
                                           oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                           required>
                                </div>
                                <div class="col-lg-9">
                                    <input class="form-control" type="text" name="country" placeholder="Country Name"
                                           required>
                                </div>
                                <div class="col-lg-9 pt-2">
                                    <textarea class="form-control" type="text" name="message" placeholder="Message"
                                              rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="form-row justify-content-center">
                                <div class="form-group">
                                    <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
                                </div>
                            </div>
                            <div class="form-group row justify-content-center">
                                <div class="col-lg-6">
                                    <button type="submit" class="btn btn-success btn-modern">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <p><img src="{% static 'img/pages/special-need/sn-img-1.jpg' %}" width="550"/></p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}