{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Terms and Conditions - Laughter Yoga International</title>
    <meta name="keywords" content="terms and conditions, Dr Madan Kataria, LY Head Quarters, Policies"/>
    <meta name="description" content="You will find all the Terms and Conditions of Service And Products.">
    <meta name="author" content="Dr Madan Kataria">
{% endblock %}
{% block content %}
<div role="main" class="main">
    <!-- Breadcrumb Starts Here -->
    <section class="page-header page-header-classic">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'home' %}" target="_parent" class="text-decoration-none">Home</a></li>
                        <li class="active">Terms and Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="container py-3 my-5">
        <div class="h3 text-center">Terms and Conditions of Service And Products</div>
        <div class="text-center pb-3"><em>Posted as of 1st January 2022</em></div>
        <p>Orders for DVDs / CDs / Books received through our online shop will be shipped within 48 – 72 hours of
            receiving the order. You will get the link for video downloads and mp3 downloads automatically once the
            payment is complete. In case of dispatching the order through courier service we will e-mail the tracking
            number to help you follow up at your end.</p>
        <p>All products are shipped through either DHL courier service or regular postal system. With each product we
            have mentioned the mode of delivery and the price inclusive of postal / courier charges.</p>
        <p>Any additional custom duty or local taxes country specific at the customer end will be borne by the
            customer.</p>
        <p>Courier service by DHL normally takes between 4 – 7 working days worldwide. While products sent by regular
            postal delivery may take between 10 – 20 working days.</p>
        <p>If by mistake we receive a double order we will first check with you before dispatching and upon
            confirmation we will refund payment for one order.</p>
        <p>“We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly
            or indirectly out of the decline of authorisation for any Transaction, on Account of the Cardholder having
            exceeded the preset limit mutually agreed by us with our acquiring bank from time to time”</p>
        <div class="h5 font-weight-bold py-3">Cancellation Policy</div>
        <p>All products have complete description of the contents, therefore we advice the customers to please check all
            details before placing the order. If required e-mail <a href="mailto:help@laughteryoga.org" target="_blank">help@laughteryoga.org</a>
            for any further clarification.
            You can cancel the PHYSICAL ORDER within 24 hrs of making the payment and claim a refund. But you can’t
            cancel any DOWNLOADABLE products.</p>
        <p>If there is any manufacturing defect or malfunctioning in the product please intimate us within 15 days of
            receiving the product, we will replace it at our cost. In case there is any problem even after replacement
            we will refund your money. Please note there is no warranty after this time period. If you are unable to
            download videos or mp3s please contact our support team.</p>
        <div class="h5 font-weight-bold py-3">Refund Policy</div>
        <p>Customers are advised to go through the details of the product and ask for any clarification before placing
            the order. We do not offer refund on the basis of not liking the product or misinterpretation from buyer
            end. Money will be refunded only in case of malfunctioning or any other manufacturing defect.</p>
        <div class="h5 font-weight-bold py-3">Privacy Policy</div>
        <p>We are requesting customers to furnish their full address, e-mail and telephone numbers to facilitate
            delivery of the product. We assure that this information will be kept strictly confidential and will only be
            used to inform you about change in any policy or about any new products.</p>
        <div class="h5 font-weight-bold py-3">Disclaimer</div>
        <p>Laughter Yoga methods as demonstrated in the product are a fun and healthy exercise regime with beneficial
            effects for the body and mind.Please note it is not a substitute for any proper medical treatment and does
            not offer a cure for any ailment. It is like any other aerobic exercise and may not be suitable for everyone
            as it involves some physical strain and a rise in intra-abdominal pressure. People with pre- existing
            medical conditions should take reasonable precaution and consult their doctor before doing these
            exercises.</p>
        <div class="h5 font-weight-bold py-3">Copyright</div>
        <p>All products on our website are copyright of Dr. Kataria School Of Laughter Yoga and should not be copied
            part /whole or transferred into any mode of communication.</p>
        <div class="h5 font-weight-bold py-3">Content Copyright</div>
        <ul>
            <li>The Content displayed on the Platform that is created by the Company is subject to copyright and shall
                not be reused by any party (or a third party) without the prior written consent of the Company and the
                copyright owner.
            </li>
            <li>The responsibility for Content generated by the Recruiters in the form of advertisement postings for job
                vacancies shall lie entirely with the recruiters and the company or Platform will not be responsible in
                any
                manner for any error or misrepresentation in such content or the authenticity of the same.
            </li>
            <li>The Platform reserves its right to suspend the account of any Customer for an indefinite period to be
                decided at the discretion of the Administrator or to terminate the account of any Customer who is found
                to
                be promoting a business not legally permissible under the laws of the land.
            </li>
            <li>The Recruiter shall be solely responsible for making good any financial losses or legal expenses
                incurred
                through the creation/sharing/submission of Content in the form of reviews or recommendations or part
                thereof
                that is deemed to be untrue/inaccurate/misleading. All the information provided by the User about
                themselves
                should be up-to-date and authentic.
            </li>
        </ul>
        <div class="h5 font-weight-bold py-3">Do’s And Don’ts On The Platform</div>
        <p>The Platform aims at connecting educational institutions, students, parents and the student community in
            general. In addition to this, the Platform also aims at easing the administration for educational
            institutions, more particularly the schools. Hence, the list of dos and don'ts limit what the user can and
            cannot do with the services offered on the Platform.</p>
        <div class="h5 font-weight-bold py-3">a. Do’s</div>
        <p>The Users agrees that they will:</p>
        <ul>
            <li>Comply with all applicable laws, including, without limitation, privacy laws, intellectual property
                laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;
            </li>
            <li>Provide accurate information on the Platform and keep it updated;</li>
            <li>Use their real names on their profile; and</li>
            <li>Use the Services in a professional manner and lawful manner.</li>
        </ul>
        <div class="h5 font-weight-bold py-3">b. Don’ts</div>
        <p>Users agree that they will not:</p>
        <ul>
            <li>Create a false identity on the Platform, misrepresent your identity, create a Member profile for anyone
                other than that of themselves (a real person), or use or attempt to use another User’s account;
            </li>
            <li>Develop, support or use the software, devices, scripts, robots, or any other means or processes
                (including crawlers, browser plugins and add-ons, or any other technology) to scrape the Services or
                otherwise copy profiles and other data from the Platform;
            </li>
            <li>Override any security feature or bypass or circumvent any access controls or use limits of the Service
                (such as caps on keyword searches or profile views);
            </li>
            <li>Copy, use, disclose or distribute any information obtained from the Platform or through the Services
                offered, whether directly or through third parties (such as search engines), without the consent of the
                Company;
            </li>
            <li>Disclose information that User does not have the consent to disclose (such as confidential information
                of any third party;
            </li>
            <li>Violate the intellectual property rights of any third party, including copyrights, patents, trademarks,
                trade secrets, or other proprietary rights. For example, do not copy or distribute (except through the
                available sharing functionality) the posts or other content of others without their permission, which
                they may give by posting under a Creative Commons license;
            </li>
            <li>Violate the intellectual property or other rights of the Platform, including, without limitation:</li>
            <ul>
                <li>Copying or distributing any content generated by the Platform or other materials or</li>
                <li>Copying or distributing our technology, unless it is released under open-source licenses;</li>
                <li>Using the name of the Company or its logos in any business name, email, or the name of the platform
                    and its associated logos and trademarks;
                </li>
            </ul>
            <li>Post anything that contains software viruses, worms, or any other harmful code;</li>
            <li>Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for
                the Services or any related technology that is not open-source;
            </li>
            <li>Imply or state that the User is affiliated with or endorsed by the Company or Platform without seeking
                the express consent of the Company;
            </li>
            <li>Rent, lease, loan, trade, sell/re-sell or otherwise monetize the Services or related data or access to
                the same, without Company’s express consent;
            </li>
            <li>Deep-link to the Services of the Platform for any purpose other than to promote the User’s profile or a
                Group on our Services, without the Company’s consent;
            </li>
            <li>Use bots or other automated methods to access the Services, add or download contacts, send or redirect
                messages;
            </li>
            <li>Monitor the Services’ availability, performance or functionality for any competitive purpose;</li>
            <li>Engage in “framing,” “mirroring,” or otherwise simulating the appearance or function of the Services;
            </li>
            <li>Overlay or otherwise modify the Services or their appearance (such as by inserting elements into the
            </li>
            <li>Services or removing, covering, or obscuring an advertisement included on the Services);</li>
            <li>Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of
                service attack, viruses, gaming algorithms); and/or
            </li>
            <li>Violate the Terms and conditions and Privacy Policy of the Platform or any additional terms concerning a
                specific Service that are provided when you sign up for or start using such Service.
            </li>
        </ul>
        <div class="h5 font-weight-bold py-3">Indemnification</div>
        <p>The User agrees to indemnify and hold harmless the Company, its directors, employees, suppliers, and
            affiliates, from and against any losses, damages, fines and expenses including but not limited to legal
            expenses arising out of or relating to any claims in the instance that the User has used the Services in
            violation of the rights of another party, in violation of any law, in violation of any provisions of the
            said Terms and Conditions, or any other claims related to your use of the Services, except where such use is
            authorized by the Company.</p>
        <div class="h5 font-weight-bold py-3">Intellectual Property Rights</div>
        <p>Unless expressly agreed to in writing, nothing contained herein shall give the User a right to use any of the
            Platform’s trade names, trademarks, service marks, logos, domain names, information, questions, answers,
            solutions, reports, and other distinctive brand features, save according to the provisions of these
            Terms.</p>
        <div class="h5 font-weight-bold py-3">Dispute Resolution And Jurisdiction</div>
        <p>It is expressly agreed to by the Parties hereto that the formation, interpretation, and performance of these
            Terms and any disputes arising therefrom will be resolved through a two-step Alternate Dispute Resolution
            (“ADR”) mechanism. It is further agreed to by the Parties that the contents of this Section shall survive
            even after the termination or expiry of the Terms and/or Policy.</p>
        <p><strong>Mediation:</strong> In case of any dispute between the parties, the Parties will attempt to resolve
            the same amicably
            amongst themselves, to the mutual satisfaction of all parties. In the event that the Parties are unable to
            reach such an amicable solution within thirty (30) days of one Party communicating the existence of a
            dispute to any other Party, the dispute will be resolved by arbitration, as detailed herein below;</p>
        <p><strong>Arbitration:</strong> In the event that the Parties are unable to amicably resolve a dispute by
            mediation, said
            dispute will be referred to arbitration by a sole arbitrator to be appointed by the Company, and the award
            passed by such sole arbitrator will be valid and binding on all parties. The Parties shall bear their own
            costs for the proceedings, although the sole arbitrator may, in his/her sole discretion, direct either Party
            to bear the entire cost of the proceedings. The arbitration shall be conducted in English, and the seat of
            Arbitration shall be the city of Ahmednagar, Maharashtra India.</p>
        <p>The Parties expressly agree that the Terms, Policy and any other agreements entered into between the Parties
            are governed by the laws, rules, and regulations governing the territory of India.</p>
        <div class="h5 font-weight-bold py-3">Jurisdiction</div>
        <p>The Parties to the Term hereby mutually agree that Jurisdiction for any claim arising out of the said terms
            shall lie with the courts of MUMBAI, Maharashtra India.</p>
        <div class="h5 font-weight-bold py-3">Grievances</div>
        <p>Any and all communication relating to any dispute or grievance experienced by the User may be communicated to
            the Company by the User by emailing to <a href="mailto:help@laughteryoga.org" target="_blank">help@laughteryoga.org</a>
        </p>
        <div class="h5 font-weight-bold py-3">Miscellaneous Provisions</div>
        <p><strong>Entire Agreement:</strong> These Terms, read with the Policy, form the complete and final contract
            between the User
            and the Company with respect to the subject hereof and supersedes all other communications,
            representations, and agreements (whether oral, written or otherwise) relating thereto.</p>
        <p><strong>Waiver:</strong> The failure of either Party at any time to require performance of any provision of
            these Terms shall
            in no manner affect such Party’s right at a later time to enforce the same. No waiver by either party of any
            breach of these Terms, whether by conduct or otherwise, in any one or more instances, shall be deemed to be
            or construed as a further or continuing waiver of any such breach, or a waiver of any other breach of these
            Terms.</p>
        <p><strong>Severability:</strong> If any provision/clause of these Terms is held to be invalid, illegal or
            unenforceable by any
            court or authority of competent jurisdiction, the validity, legality, and enforceability of the remaining
            provisions/clauses of these Terms shall in no way be affected or impaired thereby, and each such
            provision/clause of these Terms shall be valid and enforceable to the fullest extent permitted by law. In
            such case, these Terms shall be reformed to the minimum extent necessary to correct any invalidity,
            illegality or unenforceability, while preserving to the maximum extent the original rights, intentions and
            commercial expectations of the Parties hereto, as expressed herein.</p>
        <p><strong>Contact Us:</strong> If you have any questions about this Agreement, the practices of the Platform,
            or your experience with the Service, you can contact us at <a href="mailto:help@laughteryoga.org" target="_blank">help@laughteryoga.org</a></p>
    </div>
</div>
{% endblock %}