{% extends 'front/base.html' %}
{% block content %}
<div class="main shop py-4 border-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-header text-center">
                                <i class="fas fa-check text-color-success mr-1"></i> <span class="text-success">Success Page</span>
                            </div>
                            <div class="card-body" align="center">
                                <p class="my-3">Thank you for subscribing to our course.<br> You will receive an email with all the details.</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="text-center">Any issues, please feel free to contact us.<br>
                                            <strong>Email:</strong> help@laughteryoga.org <br>
                                            <strong>Phone/WhatsApp:</strong> +91 888 456 7891</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
