{% extends 'be/base.html' %}
{% load static %}
{% block meta %}
<title>Edit {{userNewsletter.user.full_name}} - {{webSettingsUniversal.title}}</title>
<meta name="description" content="{{webSettingsUniversal.metaDescription}}"/>
<meta name="keywords" content="{{webSettingsUniversal.metaKeyword}}"/>
<meta property="og:title" content="Edit {{userNewsletter.user.full_name}} -{{webSettingsUniversal.title}}"/>
<meta property="og:url" content="{{request.scheme}}://{{request.get_host}}{{request.get_full_path}}"/>
<meta property="og:site_name" content="{{webSettingsUniversal.title}} - {{webSettingsUniversal.slogan}}"/>
{% endblock %}
{% block content %}
<div class="d-flex flex-column flex-column-fluid">
    <div class="app-content flex-column-fluid mt-10">
        <div class="app-container container-xxl">
            <div class="card">
                <div class="card-header ribbon ribbon-end ribbon-clip">
                    <div class="ribbon-label">
                        Update
                        <span class="ribbon-inner bg-warning"></span>
                    </div>
                    <div class="card-title fw-bold m-0">
                        <span class="px-2">Update Newsletter Details of <span class="text-primary">{{userNewsletter.user.full_name}}</span></span>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="card mb-5 mb-xl-10">
                        <div class="collapse show">
                            <form action="{% url 'newsletterEdit' userNewsletter.user.pk %}" method="post" class="form"
                                  enctype="multipart/form-data" novalidate>
                                {% csrf_token %}
                                <div class="card-body border-top p-9">
                                    <div class="row">
                                        <!-- Pro Newsletter  -->
                                        <div class="col-lg-6">
                                            <div class="form-check form-check-custom form-check-solid mb-7
                                            {% if newsletterForm.pro_newsletter.errors %}has-error{% endif %}">
                                                {{ newsletterForm.pro_newsletter }}
                                                <label class="form-check-label required">Pro Newsletter</label>
                                                {% for error in newsletterForm.pro_newsletter.errors %}
                                                <div class="text-danger mt-2">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <!-- Pro Newsletter  -->
                                        <div class="col-lg-6">
                                            <div class="form-check form-check-custom form-check-solid mb-7
                                            {% if newsletterForm.general_newsletter.errors %}has-error{% endif %}">
                                                {{ newsletterForm.general_newsletter }}
                                                <label class="form-check-label">General Newsletter</label>
                                                {% for error in newsletterForm.general_newsletter.errors %}
                                                <div class="text-danger mt-2">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="col-lg-6 align-content-middle">
                                            <div class="form-check form-check-custom form-check-solid mb-7
                                            {% if newsletterForm.is_new_email.errors %}has-error{% endif %}">
                                                {{ newsletterForm.is_new_email }}
                                                <label class="form-check-label">Want to use different email for newsletter.</label>
                                                {% for error in newsletterForm.is_new_email.errors %}
                                                <div class="text-danger mt-2">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            <div id="new-email-field" style="display:none;" class="form-floating mb-7
                                            {% if newsletterForm.new_email.errors %}has-error{% endif %}">
                                                {{ newsletterForm.new_email }}
                                                <label class="form-check-label">New Email <small>(Only for Newsletters)</small></label>
                                                {% for error in newsletterForm.new_email.errors %}
                                                <div class="text-danger mt-2">
                                                    <strong>{{ error|escape }}</strong>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Non Field Errors -->
                                    {% for error in userNewsletter.newsletterForm.non_field_errors %}
                                    <div class="text-danger mt-2">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                </div>

                                <div class="card-footer d-flex justify-content-end py-6 px-9">
                                    <a href="{% if user.is_superuser %}{% url 'userList' %}{% else %}{% url 'userView' user.id %}{% endif %}" class="btn btn-light-info me-3">Discard</a>
                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extraJS %}
<!--begin::Custom Javascript(used for this page only)-->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const isNewEmailCheckbox = document.querySelector('#id_is_new_email');
    const newEmailField = document.querySelector('#new-email-field');
    const newEmailInput = document.querySelector('#id_new_email');

    function toggleNewEmailField() {
        if (isNewEmailCheckbox.checked) {
            newEmailField.style.display = 'block';
        } else {
            newEmailField.style.display = 'none';
            newEmailInput.value = '';  // Reset the email field when it's hidden
        }
    }

    isNewEmailCheckbox.addEventListener('change', toggleNewEmailField);

    // Run once on page load in case the checkbox is already checked
    toggleNewEmailField();
});
</script>
<!--end::Custom Javascript-->
{% endblock %}