{% extends 'front/base.html' %}
{% load static %}
{% load i18n %}
{% load cropping %}
{% block content %}
<div class="owl-carousel-wrapper" style="height: 600px;">
    <div class="owl-carousel dots-inside dots-horizontal-center dots-light show-dots-hover show-dots-xs nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0"
         data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': false, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
        <img src="{% static 'img/slides/ly2-banner.jpg' %}"/>
    </div>
</div>
<div class="container py-2">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-dr-ks-pro-videos.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">DrK's Pro Videos</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-new-excise.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">New Exercises</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-download-ppt.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Download PPT</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-research-papers.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Research Papers Simplified</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-documents.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Pro Documents</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-promotional-material.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Promotional Materials</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-download-audios.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Download Audios</a></p>
                        </div>
                        <div class="col-lg-4 pb-3">
                            <span class="img-thumbnail d-block">
                                <a href="" target="_parent"><img class="img-fluid" src="{% static 'img/downloads/paid/ly2/ly2-download-photos.jpg' %}" alt="pro-diary"></a>
                            </span>
                            <p class="text-center"><a href="#" target="_parent">Download Photos</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}